openapi: 3.2.0
info:
  title: 'Swisscom Sign Integration Process: create API'
  description: '# Purpose


    The Swisscom Sign *Integration API* enables backend systems to create, configure, release, and monitor digital signing processes end-to-end with minimal manual interaction.'
  termsOfService: https://sign.swisscom.ch/api-docs
  contact:
    name: Support
    url: https://digitaltrust.swisscom.ch/en/
  version: 2.19.0
  x-changelog:
    2.19.0: New `GET /api/process/{processId}/file/{fileId}/content` endpoint returns the raw binary content of a process file instead of a Base64-encoded JSON document. The `Content-Type` reflects the actual file type (`application/pdf` for documents, `application/zip` for verification documents). The response includes a `Content-Disposition` header with the original filename. Authorization and error semantics are identical to the existing file endpoint, which remains unchanged. Release endpoint now accepts optional `signatureMethods` to restrict the allowed signature methods (`APP`, `CLICK`, `OSS`, `PASSKEY`, `SMS`) per process. Methods are validated against the document's signature level. Added the two new signature methods `PASSKEY` (WebAuthn passkey authentication) and `OSS` (One-Shot Signing without prior device registration), both for corporate tenants only. Added Sample 5 (OSS single signer). Enhanced `signatureMethods` documentation with detailed descriptions for each method.
    2.18.0: The `GET /api/process` response now includes a stable `page` object containing `totalElements`, `totalPages`, `size`, and `number`. The root-level fields `totalElements`, `totalPages`, `number`, `size`, `first`, and `last` are deprecated and will be removed in a future version. Please migrate to `page.totalElements`, `page.totalPages`, `page.size`, and `page.number`.
    2.17.0: Release endpoint now allows an optional configuration of automatic reminders in the `notification` node. Reminders can be defined with an `interval` or `beforeExpiry` configuration.
    2.16.0: GwG online identity verification (`signer.verification`) is now restricted to corporate tenants. Submitting a `verification` object on a signer for a non-corporate tenant will be rejected with a `400 Bad Request` validation error.
    2.15.0: 'Attach endpoint now accepts `locator: TAG` on signature positions to resolve placement at runtime by searching for a tag string embedded in the PDF (`\s1\` for index 0, `\s2\` for index 1, etc.). The tag marks the upper-left corner of the signature field. Optional `offsetX` / `offsetY` (PDF points, −200 to 200) allow fine-tuning. Coordinates are not required when using TAG. Default behaviour (omitting `locator` or using COORDINATES) is fully backward-compatible.'
    2.14.0: Added optional `teamId` filter parameter to `GET /api/process` for filtering processes by team. Added optional `validUntilWithin` filter parameter (ISO 8601 duration) to `GET /api/process` for filtering processes whose `validUntil` falls within the given duration.
    2.13.0: 'Added new signer status values: `WAITING` (not yet invited), `DECLINED` (signer declined), `REMOVED` (signer removed), and `REPLACED` (signer replaced with a new signer).'
    2.12.0: Release endpoint now accepts optional `validUntil` to set process expiration. Replaced `language` field with new `notification` object containing `locale` and `suppress` for opt-out control of notification types (`INVITE`, `COMPLETION`, `ALL`). The `language` field is now deprecated.
    2.11.0: New findAll service added for processes with filter (`status`), sorting (`createdDate`), and paging.
    2.10.0: Signer.status has been renamed from `DISCONTINUED` to `CANCELED` for better clarity. New attribute `canceledOn` replaces `discontinuedOn`, which has been set to deprecated.
    2.9.0: Added optional `teamId` on `Process`.
    2.8.0: Added optional `partnerId` to `Process` for enhanced partner management and tracking.
    2.7.0: Added optional `authorization` on `Process` as write-only. Defaults to CODE for backwards-compatability when no authorization value is provided.
    2.6.0: Removed `domicile` on `Verification`.
    2.5.0: Added new field `stickerProvider` to `FileSignaturePosition`. This new field determines how signature stickers are rendered. Currently, two choices are available, the classic `VISUAL_SIGNATURE_PROVIDER` for backwards-compatibility, and a new `CUSTOM_VISUAL_SIGNATURE_PROVIDER`. If `CUSTOM_VISUAL_SIGNATURE_PROVIDER` is selected, users can manually draw a signature, which will be incorporated into the sticker.
    2.4.0: Restricted email length to `254` characters. Restricted `externalIdentifier` characters to strengthen url-encoding conformity.
    2.3.0: Renamed `pairing` and its fields `pairing.userId` and `pairing.app` to `authentication`, `authentication.identity` and `authentication.namespace`.
    2.2.0: '- Added `scope` and `mode` to Setup and Open requests.

      - `Signer.firstName` and `Signer.lastName` are now mandatory.

      - `NonPerson.name` is now mandatory.

      - Added process wide `email` validation on `Participants`.

      - Process creation now returns `Process` scheme.

      - Fixed a bug where the `externalIdentifier` was not accepted in the Open request.

      '
    2.1.0: Added `signer.status`, `signer.signedOn` and `signer.discontinuedOn` to `Signer` schema.
    2.0.0: 'Major refactoring of the REST API. The API is now structured around a single `/processes` endpoint, which allows for more flexible and efficient process management. '
  x-last-updated:
    last-updated: '2026-07-16'
servers:
- url: https://sign.swisscom.ch/system
  description: Productive Server
security:
- SwisscomSignOAuth2: []
tags:
- name: 'Process: create'
  description: Allows you to set up your process according to your needs, including adding documents, configuring invitees, setting signature options, and submitting the process for execution.
paths:
  /api/process:
    post:
      tags:
      - 'Process: create'
      summary: Create a process
      description: 'Creates a new signing process.

        - Non-interactive (API release): Provide all required data (documents, signers, options) up front.

        - Setup (handover to Swisscom Sign UI): You can submit a minimal process and adjust metadata later in the UI.'
      operationId: create
      requestBody:
        description: Minimal payload for creating a signing process.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Process'
            examples:
              (1) Standard invite:
                description: (1) Standard invite
                value:
                  signatureLevel: SIMPLE
                  initiator:
                    type: NON_PERSON
                    externalIdentifier: ext-systems_oms-42
                    name: Swisscom Sign Orchestrator
                  invitees:
                    signers:
                    - type: SIGNER
                      externalIdentifier: crm-4711
                      firstName: John
                      lastName: Doe
                      email: john.doe@example.com
              (2) Invite with GwG identification (Corporate only):
                description: (2) Invite with GwG identification (Corporate only)
                value:
                  signatureLevel: QUALIFIED
                  initiator:
                    type: NON_PERSON
                    externalIdentifier: ext-systems_oms-42
                    name: Swisscom Sign Orchestrator
                  invitees:
                    signers:
                    - type: SIGNER
                      externalIdentifier: crm-4711
                      firstName: John
                      lastName: Doe
                      email: john.doe@example.com
                      verification:
                        residentPermit: true
              (3) Delegated signing:
                description: (3) Delegated signing
                value:
                  signatureLevel: SIMPLE
                  initiator:
                    type: SIGNER
                    externalIdentifier: crm-4711
                    firstName: John
                    lastName: Doe
                    email: john.doe@example.com
              (4) Draft with UI setup:
                description: (4) Draft with UI setup
                value:
                  signatureLevel: SIMPLE
                  initiator:
                    type: PERSON
                    externalIdentifier: crm-4711
        required: true
      responses:
        '201':
          description: The process was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Process'
        '401':
          description: Authorization information is missing or invalid.
        '409':
          description: Occurs when there is a general error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - SwisscomSignOAuth2:
        - sswp:process:create
  /api/process/{processId}/setup:
    post:
      tags:
      - 'Process: create'
      summary: Finalize process in Swisscom Sign UI
      description: 'Launches the Swisscom Sign web interface for the initiator to complete the process setup.

        This includes defining visual elements and participant data.


        Once setup is complete, the process is automatically released and notifications are handled by Swisscom Sign.


        **Preconditions:**

        - A process was created via `/process`.

        - The process has not yet been released.'
      operationId: setup
      parameters:
      - name: processId
        in: path
        description: Unique identifier of the process to finalize via UI.
        required: true
        schema:
          type: string
          format: uuid
        example: 6f1a5c4d-2d9a-4f12-a1c5-bc6e2bcb2d6a
      requestBody:
        description: 'Defines how the Swisscom Sign UI should behave when the process is opened for setup.

          Typical use cases:

          - Control the language of the UI.

          - Configure redirect URLs (back, success).

          - Provide pairing information (App-only, temporary).

          '
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcessSetupRequest'
            examples:
              (4) Draft with UI setup:
                description: (4) Draft with UI setup
                value:
                  language: en-GB
        required: true
      responses:
        '202':
          description: The setup request has been accepted. Please redirect to the provided URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessSetupResponse'
        '401':
          description: Authorization information is missing or invalid.
        '409':
          description: Occurs when there is a general error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - SwisscomSignOAuth2:
        - sswp:process:create
  /api/process/{processId}/release:
    post:
      tags:
      - 'Process: create'
      summary: Release process and notify participants
      description: 'Releases a previously created and fully configured process. Personal access URLs are returned for each participant.

        These can be used for asynchronous execution, typically via email.


        Optionally, you may include email parameters to notify participants directly.

        Optionally, you may configure automatic reminder emails for pending participants.

        Optionally, you may restrict the allowed signature methods (`APP`, `CLICK`, `OSS`, `PASSKEY`, `SMS`) via `signatureMethods`.

        If omitted, the tenant defaults apply. Methods are validated against the document''s signature level.


        Preconditions:

        - A process was created via `/process` with at least one participant.

        - At least one document was attached using `/process/{processId}/attach`.

        - Every signer must be placed on at least one document.

        - At least one document must have all signers placed on it.

        - All visual signatures are placed within the visible area.'
      operationId: release
      parameters:
      - name: processId
        in: path
        description: Unique identifier of the process to be released.
        required: true
        schema:
          type: string
          format: uuid
        example: 6f1a5c4d-2d9a-4f12-a1c5-bc6e2bcb2d6a
      requestBody:
        description: 'Optional notification and reminder configuration for participants.


          **Notification behavior:**

          - No body or empty body → no notifications sent

          - `notification.locale` set → all participants notified in that language

          - `notification.suppress` set → opt-out specific notification types


          **Automatic reminders (`notification.reminder`):**

          - `reminder.interval` → recurring reminder every X days while the process is pending (e.g. `P3D`)

          - `reminder.beforeExpiry` → one reminder per entry, sent X days before `validUntil` (e.g. `["P7D", "P2D"]`)

          - Both fields are optional and independent; omit `reminder` entirely to disable automatic reminders

          - Requires `notification.locale` — reminders cannot be sent without a notification locale

          - Incompatible with `notification.suppress: ["ALL"]` → returns 409


          **Deprecated:** The `language` field is deprecated. Use `notification.locale` instead.

          '
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcessReleaseRequest'
            examples:
              (1a) Standard invite (emails in German):
                description: (1a) Standard invite (emails in German)
                value:
                  notification:
                    locale: de-CH
              (1b) Standard invite (no emails):
                description: (1b) Standard invite (no emails)
                value:
                  notification:
                    locale: de-CH
                    suppress:
                    - ALL
              (2) Invite with GwG identification (emails in German):
                description: (2) Invite with GwG identification (emails in German)
                value:
                  notification:
                    locale: de-CH
              (3) Delegated signing (emails in German):
                description: (3) Delegated signing (emails in German)
                value:
                  notification:
                    locale: de-CH
              (4a) Invite with automatic reminders (before expiry):
                description: Sends a reminder 7 days and again 2 days before the process expires.
                value:
                  validUntil: '2026-12-31T23:59:59+01:00'
                  notification:
                    locale: de-CH
                    reminder:
                      beforeExpiry:
                      - P7D
                      - P2D
              (4b) Invite with automatic reminders (recurring interval):
                description: Sends a recurring reminder every 3 days while the process is pending.
                value:
                  validUntil: '2026-12-31T23:59:59+01:00'
                  notification:
                    locale: de-CH
                    reminder:
                      interval: P3D
              (4c) Invite with automatic reminders (combined):
                description: Recurring reminder every 3 days, plus dedicated reminders 7 and 2 days before expiry.
                value:
                  validUntil: '2026-12-31T23:59:59+01:00'
                  notification:
                    locale: de-CH
                    reminder:
                      interval: P3D
                      beforeExpiry:
                      - P7D
                      - P2D
              (5) One-shot signing (OSS):
                description: Restricts the signature method to OSS so the signer authenticates on-the-fly without prior device registration. All other steps are identical to Sample 1.
                value:
                  notification:
                    locale: de-CH
                  signatureMethods:
                  - OSS
      responses:
        '200':
          description: Process released; participant URLs returned (permanently valid).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseResponse'
        '208':
          description: Process was already released; participant URLs returned (permanently valid).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseResponse'
        '401':
          description: Authorization information is missing or invalid.
        '403':
          description: Forbidden – caller not allowed to release this process.
        '404':
          description: Process not found.
        '409':
          description: Conflict – e.g. reminders configured but all notifications are suppressed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - SwisscomSignOAuth2:
        - sswp:process:create
  /api/process/{processId}/attach:
    post:
      tags:
      - 'Process: create'
      summary: Attach documents to process
      description: 'Attaches one or more PDF files to the specified process. You may repeat this call up to a maximum of 100 files.

        Only `application/pdf` is supported, and each file must not exceed 40MB in size.


        **Preconditions:**

        - The process status must be `CREATED`.'
      operationId: attach
      parameters:
      - name: processId
        in: path
        description: ID of the process to which the PDF will be attached.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: PDF file and optional signature positions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileAttachment'
            examples:
              (1a) Standard invite (coordinates):
                description: (1a) Standard invite (coordinates)
                value:
                  name: Offer.pdf
                  externalIdentifier: file_offer-2025-001
                  signaturePositions:
                  - signer: crm-4711
                    locator: COORDINATES
                    pageNumber: 0
                    positionX: 120
                    positionY: 700
                  contentType: application/pdf
                  content: JVBERi0xLjMKJcTl8uXrp/Og0MTGCjMgMCBvYmoKPDwgL0ZpbHRlciAvRmxhdGVEZWNvZGUgL0xlbmd0aCAyNzUgPj4Kc3RyZWFtCngBpZI/T8MwEMV3f4pHoeAAdc7/UnsFsbBV8kaZIjEgdajy/SXOTuM0qFKFUAY79t393rvzETsc0b4OGv0AKt/Q8xEp48b/vNFaxUgdOhOUidGgP+AlwY8JvBhvOSIGeBtEOqBNyUAjfeED8qbBhpSHXN02+ER6x1sq3KsQwRBSROSQ+jOcdaRC53XG4Tfubn3fMFs+LGDiKmzpyGmntpHiBYSQe1ksGch9M5lbTxumk3KFz7ZZyBz9WGIs5FONEWPMc7nhrFpmrryZ7lTNyg3lyu3pgMoqpGbPJ2bVxdl/6vmyDdvgleuivzhYM1m1mX9ma2Vm9dVzteEa8Q9FMSuKdhqMmJ9annj6Hh/X7geHTo17CmVuZHN0cmVhbQplbmRvYmoKMSAwIG9iago8PCAvVHlwZSAvUGFnZSAvUGFyZW50IDIgMCBSIC9SZXNvdXJjZXMgNCAwIFIgL0NvbnRlbnRzIDMgMCBSIC9NZWRpYUJveCBbMCAwIDU5NS4yNzU2IDg0MS44ODk4XQo+PgplbmRvYmoKNCAwIG9iago8PCAvUHJvY1NldCBbIC9QREYgL1RleHQgXSAvQ29sb3JTcGFjZSA8PCAvQ3MxIDUgMCBSID4+IC9Gb250IDw8IC9UVDIgNyAwIFIKPj4gPj4KZW5kb2JqCjggMCBvYmoKPDwgL04gMyAvQWx0ZXJuYXRlIC9EZXZpY2VSR0IgL0xlbmd0aCAyNjEyIC9GaWx0ZXIgL0ZsYXRlRGVjb2RlID4+CnN0cmVhbQp4AZ2Wd1RT2RaHz703vdASIiAl9Bp6CSDSO0gVBFGJSYBQAoaEJnZEBUYUESlWZFTAAUeHImNFFAuDgmLXCfIQUMbBUURF5d2MawnvrTXz3pr9x1nf2ee319ln733XugBQ/IIEwnRYAYA0oVgU7uvBXBITy8T3AhgQAQ5YAcDhZmYER/hEAtT8vT2ZmahIxrP27i6AZLvbLL9QJnPW/3+RIjdDJAYACkXVNjx+JhflApRTs8UZMv8EyvSVKTKGMTIWoQmirCLjxK9s9qfmK7vJmJcm5KEaWc4ZvDSejLtQ3pol4aOMBKFcmCXgZ6N8B2W9VEmaAOX3KNPT+JxMADAUmV/M5yahbIkyRRQZ7onyAgAIlMQ5vHIOi/k5aJ4AeKZn5IoEiUliphHXmGnl6Mhm+vGzU/liMSuUw03hiHhMz/S0DI4wF4Cvb5ZFASVZbZloke2tHO3tWdbmaPm/2d8eflP9Pch6+1XxJuzPnkGMnlnfbOysL70WAPYkWpsds76VVQC0bQZA5eGsT+8gAPIFALTenPMehmxeksTiDCcLi+zsbHMBn2suK+g3+5+Cb8q/hjn3mcvu+1Y7phc/gSNJFTNlReWmp6ZLRMzMDA6Xz2T99xD/48A5ac3Jwyycn8AX8YXoVVHolAmEiWi7hTyBWJAuZAqEf9Xhfxg2JwcZfp1rFGh1XwB9hTlQuEkHyG89AEMjAyRuP3oCfetbEDEKyL68aK2Rr3OPMnr+5/ofC1yKbuFMQSJT5vYMj2RyJaIsGaPfhGzBAhKQB3SgCjSBLjACLGANHIAzcAPeIACEgEgQA5YDLkgCaUAEskE+2AAKQTHYAXaDanAA1IF60AROgjZwBlwEV8ANcAsMgEdACobBSzAB3oFpCILwEBWiQaqQFqQPmULWEBtaCHlDQVA4FAPFQ4mQEJJA+dAmqBgqg6qhQ1A99CN0GroIXYP6oAfQIDQG/QF9hBGYAtNhDdgAtoDZsDscCEfCy+BEeBWcBxfA2+FKuBY+DrfCF+Eb8AAshV/CkwhAyAgD0UZYCBvxREKQWCQBESFrkSKkAqlFmpAOpBu5jUiRceQDBoehYZgYFsYZ44dZjOFiVmHWYkow1ZhjmFZMF+Y2ZhAzgfmCpWLVsaZYJ6w/dgk2EZuNLcRWYI9gW7CXsQPYYew7HA7HwBniHHB+uBhcMm41rgS3D9eMu4Drww3hJvF4vCreFO+CD8Fz8GJ8Ib4Kfxx/Ht+PH8a/J5AJWgRrgg8hliAkbCRUEBoI5wj9hBHCNFGBqE90IoYQecRcYimxjthBvEkcJk6TFEmGJBdSJCmZtIFUSWoiXSY9Jr0hk8k6ZEdyGFlAXk+uJJ8gXyUPkj9QlCgmFE9KHEVC2U45SrlAeUB5Q6VSDahu1FiqmLqdWk+9RH1KfS9HkzOX85fjya2Tq5FrleuXeyVPlNeXd5dfLp8nXyF/Sv6m/LgCUcFAwVOBo7BWoUbhtMI9hUlFmqKVYohimmKJYoPiNcVRJbySgZK3Ek+pQOmw0iWlIRpC06V50ri0TbQ62mXaMB1HN6T705PpxfQf6L30CWUlZVvlKOUc5Rrls8pSBsIwYPgzUhmljJOMu4yP8zTmuc/jz9s2r2le/7wplfkqbip8lSKVZpUBlY+qTFVv1RTVnaptqk/UMGomamFq2Wr71S6rjc+nz3eez51fNP/k/IfqsLqJerj6avXD6j3qkxqaGr4aGRpVGpc0xjUZmm6ayZrlmuc0x7RoWgu1BFrlWue1XjCVme7MVGYls4s5oa2u7act0T6k3as9rWOos1hno06zzhNdki5bN0G3XLdTd0JPSy9YL1+vUe+hPlGfrZ+kv0e/W3/KwNAg2mCLQZvBqKGKob9hnmGj4WMjqpGr0SqjWqM7xjhjtnGK8T7jWyawiZ1JkkmNyU1T2NTeVGC6z7TPDGvmaCY0qzW7x6Kw3FlZrEbWoDnDPMh8o3mb+SsLPYtYi50W3RZfLO0sUy3rLB9ZKVkFWG206rD6w9rEmmtdY33HhmrjY7POpt3mta2pLd92v+19O5pdsN0Wu067z/YO9iL7JvsxBz2HeIe9DvfYdHYou4R91RHr6OG4zvGM4wcneyex00mn351ZzinODc6jCwwX8BfULRhy0XHhuBxykS5kLoxfeHCh1FXbleNa6/rMTdeN53bEbcTd2D3Z/bj7Kw9LD5FHi8eUp5PnGs8LXoiXr1eRV6+3kvdi72rvpz46Pok+jT4Tvna+q30v+GH9Av12+t3z1/Dn+tf7TwQ4BKwJ6AqkBEYEVgc+CzIJEgV1BMPBAcG7gh8v0l8kXNQWAkL8Q3aFPAk1DF0V+nMYLiw0rCbsebhVeH54dwQtYkVEQ8S7SI/I0shHi40WSxZ3RslHxUXVR01Fe0WXRUuXWCxZs+RGjFqMIKY9Fh8bFXskdnKp99LdS4fj7OIK4+4uM1yWs+zacrXlqcvPrpBfwVlxKh4bHx3fEP+JE8Kp5Uyu9F+5d+UE15O7h/uS58Yr543xXfhl/JEEl4SyhNFEl8RdiWNJrkkVSeMCT0G14HWyX/KB5KmUkJSjKTOp0anNaYS0+LTTQiVhirArXTM9J70vwzSjMEO6ymnV7lUTokDRkUwoc1lmu5iO/kz1SIwkmyWDWQuzarLeZ0dln8pRzBHm9OSa5G7LHcnzyft+NWY1d3Vnvnb+hvzBNe5rDq2F1q5c27lOd13BuuH1vuuPbSBtSNnwy0bLjWUb326K3tRRoFGwvmBos+/mxkK5QlHhvS3OWw5sxWwVbO3dZrOtatuXIl7R9WLL4oriTyXckuvfWX1X+d3M9oTtvaX2pft34HYId9zd6brzWJliWV7Z0K7gXa3lzPKi8re7V+y+VmFbcWAPaY9kj7QyqLK9Sq9qR9Wn6qTqgRqPmua96nu37Z3ax9vXv99tf9MBjQPFBz4eFBy8f8j3UGutQW3FYdzhrMPP66Lqur9nf19/RO1I8ZHPR4VHpcfCj3XVO9TXN6g3lDbCjZLGseNxx2/94PVDexOr6VAzo7n4BDghOfHix/gf754MPNl5in2q6Sf9n/a20FqKWqHW3NaJtqQ2aXtMe9/pgNOdHc4dLT+b/3z0jPaZmrPKZ0vPkc4VnJs5n3d+8kLGhfGLiReHOld0Prq05NKdrrCu3suBl69e8blyqdu9+/xVl6tnrjldO32dfb3thv2N1h67npZf7H5p6bXvbb3pcLP9luOtjr4Ffef6Xfsv3va6feWO/50bA4sG+u4uvnv/Xtw96X3e/dEHqQ9eP8x6OP1o/WPs46InCk8qnqo/rf3V+Ndmqb307KDXYM+ziGePhrhDL/+V+a9PwwXPqc8rRrRG6ketR8+M+YzderH0xfDLjJfT44W/Kf6295XRq59+d/u9Z2LJxPBr0euZP0reqL45+tb2bedk6OTTd2nvpqeK3qu+P/aB/aH7Y/THkensT/hPlZ+NP3d8CfzyeCZtZubf94Tz+wplbmRzdHJlYW0KZW5kb2JqCjUgMCBvYmoKWyAvSUNDQmFzZWQgOCAwIFIgXQplbmRvYmoKMiAwIG9iago8PCAvVHlwZSAvUGFnZXMgL01lZGlhQm94IFswIDAgNTk1LjI3NTYgODQxLjg4OThdIC9Db3VudCAxIC9LaWRzIFsgMSAwIFIgXQo+PgplbmRvYmoKOSAwIG9iago8PCAvVHlwZSAvQ2F0YWxvZyAvUGFnZXMgMiAwIFIgPj4KZW5kb2JqCjcgMCBvYmoKPDwgL1R5cGUgL0ZvbnQgL1N1YnR5cGUgL1RydWVUeXBlIC9CYXNlRm9udCAvQUFBQUFDK0NhbGlicmkgL0ZvbnREZXNjcmlwdG9yCjEwIDAgUiAvVG9Vbmljb2RlIDExIDAgUiAvRmlyc3RDaGFyIDMzIC9MYXN0Q2hhciA1MiAvV2lkdGhzIFsgNDU5IDQ3OSA3OTkKNTI1IDIyOSA0OTggMjI2IDMwNSAyMjkgNTI3IDM0OSA1MjUgNTI1IDQ1NSA1NzkgNTE3IDI1MiAzMzUgNDcxIDI1MiBdID4+CmVuZG9iagoxMSAwIG9iago8PCAvTGVuZ3RoIDM0OCAvRmlsdGVyIC9GbGF0ZURlY29kZSA+PgpzdHJlYW0KeAFdkstugzAQRfd8hZfpImKAPBoJIVWpIrHoQ6X9ALCHyFIxliEL/r53nDSVujiL4/F4PGOnx/q5dnZW6XsYdcOz6q0zgafxEjSrjs/WJVmujNXzzeKaHlqfpEhulmnmoXb9qMoyUSr9QMo0h0WtnszY8YOsvQXDwbqzWn0dm7jSXLz/5oHdrCipKmW4x3EvrX9tB1ZpTF3XBnE7L2tk/e34XDwr3AgZ2fVKejQ8+VZzaN2Zk5KoKk+nKmFn/oVyumZ0/W1rnlWlQLQtqqTMcygg2mWiBRRAjegGCoj2JLqFAkS16A4KoFvRPRQQ5XHzIxQgupPoAQqgB9EWCqC9aAcFKJSLaihANKqBAihLlKEA2on2UEC0kRYKzEJAg3KNAr0KiErdAr0KKLQRRa8CjtqLolcBLaAQpvk7NhmsfID7g+lLCHir+EviM8rzWMf3j+RHLwdEfgBcK62sCmVuZHN0cmVhbQplbmRvYmoKMTAgMCBvYmoKPDwgL1R5cGUgL0ZvbnREZXNjcmlwdG9yIC9Gb250TmFtZSAvQUFBQUFDK0NhbGlicmkgL0ZsYWdzIDQgL0ZvbnRCQm94IFstNTAzIC0zMTMgMTI0MCAxMDI2XQovSXRhbGljQW5nbGUgMCAvQXNjZW50IDk1MiAvRGVzY2VudCAtMjY5IC9DYXBIZWlnaHQgNjMyIC9TdGVtViAwIC9YSGVpZ2h0CjQ2NCAvQXZnV2lkdGggNTIxIC9NYXhXaWR0aCAxMzI4IC9Gb250RmlsZTIgMTIgMCBSID4+CmVuZG9iagoxMiAwIG9iago8PCAvTGVuZ3RoMSAyMTQyOCAvTGVuZ3RoIDExMDU2IC9GaWx0ZXIgL0ZsYXRlRGVjb2RlID4+CnN0cmVhbQp4AdV7d1iUV9r+eadXZgYY2gAzMAyIQ1FAigWGXlUQRkFFqbZg70YNUdNITNm0NckmZjeJ2TVlGDWiaSZr6q5JNnVT12xLJWU3yaYJ333eZw5istnvj9/1u679hrnnvk973nOeU993hg3rNvYyI+tnSjape2XnGia/ivpBvu5NG1xykKVWMKZ+aMmapSspnAEye5f2bV1C4aKPGYu9a1lvZw+F2ffg/GWIoLCUB05ZtnLDFgoXcQMtfau7Q+lFJxDOWNm5JXR99hbCrlWdK3vBeDVfhw/XmnW9oXSpFeY+kpP+04eERDvrYGo5k4JZWTa7hLHwfMUUOYana3Jzb9f/4sxiy/QvWaxOjn7wo+2/5+KVGwaWfPftmX79x7p8BPVMISczhnLaW8+8wZhh/3fffrtf/zGPOedlH9QrS5sVTyueZIXMqXgqxG+zQsUbzK94Hfwa+I8hfhX8CsIvg18Cvwj+A/hR8CPgh8EPMT9TKd5keUALoBxTPQjdAbwMqNl5sCQxI8pLLFLxOKsAeoANwHWAGnkfQdodsCgxl2LPYX2MVOcaUuwWYpcQFwrRL8QFQuwUYocQ24U4X4htQmwVYosQm4XYJMRGITYIsV6ItUKsEWK1EKuEWClEnxDnCbFCiOVCLBNiqRBLhOgVokeIbiG6hOgUokOIxUIsEqJdiIVCLBBivhBtQrQKMU+IuUL4hWgRolmIOUI0CdEoxGwhZgkxU4gGIeqFqBOiVogaIaqFqBKiUogKIcqFKBOiVAifECVCFAsxQ4jpQkwTYqoQRUIUClEgRL4QU4TIEyJXiBwhJgsxSYhsIbKEyBQiQwivEBOFSBdighBpQqQK4REiRQi3EMlCJAnhEsIpRKIQCULEC+EQIk6IWCFihIgWIkoIuxCRQkQIES6ETQirEBYhwoQwC2ESwiiEQQi9EDohtEJohFALoRJCKYRCCEkIFhLSqBAjQpwR4nshvhPiWyG+EeJrIf4lxFdCfCnEF0L8U4h/CPG5EJ8J8akQnwgxLMTHQnwkxIdCfCDE+0K8J8TfhfibEH8V4i9C/FmId4U4LcSfhHhHiLeFeEuIN4V4Q4jXhfijEK8J8aoQrwjxshAvCfGiEH8Q4gUhnhfiOSFOCfF7IX4nxLNCPCPE00I8JcSTQjwhxEkhfivE40I8JsQJIR4V4hEhHhbiISEeFOK4EMeEGBLiqBAPCHFEiMNCHBIiKMSgEAEh7hfiPiHuFeIeIQ4K8Rshfi3E3UIcEOIuIe4U4g4hfiXEL4W4XYj9QtwmxK1C/EKIW4S4WYibhNgnxM+FuFGIG4S4XojrhLhWiJ8JcY0QVwtxlRBXCrFXiCuEuFyIASEuE+JSIS4R4mIhLhJijxC7hdglxIVC9AtxgRA7hdghxHYhzhdimxBbhdgixGYhNgmxUYgNQqwXYp0Qa4VYI8RqIVYJsVKIPiHOE2KFEMuFWCbEUiGWCNErRI8Q3UJ0CdEpRIcQi4VYJES7EAuFWCDEfCHahGgVYp4Qc4XwC9EiRLMQc4RoFGK2ELOEaBCiXog6IWqFqBGiWogqISqFqBCi/BA/LQ8p9gQTi504MwcT7aBdFLowmDgVoX4KXUC0M5hoQuQOCm0nOp9oG9HWYEIpsmwJJpSDNhNtItpIaRsotJ5oHUWuDSaUocAaotVEqyjLSqI+ovOC8ZXIuYJoOdEyoqVES4LxFcjSS6Eeom6iLqJOog6ixUSLqFw7hRYSLSCaT9RG1Eo0j2gukZ+ohaiZaA5RE1Ej0WyiWUQziRqI6onqgo5atKGWqCboqEOomqgq6KhHqDLoaABVEJUTlVFaKZXzEZVQuWKiGUTTKec0oqlUvIiokKiAKJ9oChnLI8olKzlEk4kmkbFsoiwql0mUQeQlmkiUTjSBKI1MpxJ5yGYKkZsomUwnEbmonJMokSiBKJ7IQRQXjJsFZ8USxQTjZiMUTRRFkXaiSIqMIAonslGalchCkWFEZiITpRmJDER6StMRaYk0wdhGXF0djG0CqYiUFKmgkETEZJJGiUbkLNIZCn1P9B3Rt5T2DYW+JvoX0VdEXwZjWpxD0hfBmGbQPyn0D6LPiT6jtE8p9AnRMNHHlPYR0YcU+QHR+0TvEf2dsvyNQn+l0F8o9Geid4lOU9qfiN6hyLeJ3iJ6k+gNyvI6hf5I9Foweh6a8mowei7oFaKXKfIloheJ/kD0AmV5nug5ijxF9Hui3xE9S1meIXqaIp8iepLoCaKTRL+lnI9T6DGiE0SPUtojRA9T5ENEDxIdJzpGNEQ5j1LoAaIjRIeJDgWjStDoYDBqAWiQKEB0P9F9RPcS3UN0kOg3wSis+tKvycrdRAco7S6iO4nuIPoV0S+JbifaT3QbGbuVrPyC6BZKu5noJqJ9RD+nAjdS6Aai64muo7RrycrPiK6htKuJriK6kmgv0RWU83IKDRBdRnQp0SVEFwftnWj7RUF7F2gP0e6gfQlCu4guDNr9CPUH7dhspAuC9nzQTqIdVHw7lTufaFvQ3oMsW6n4FqLNRJuINhJtIFpPptdR8bVEa4L2blhZTcZWUc6VRH1E5xGtIFpO5ZYRLaWaLaHivUQ9lLObqIuok6iDaDHRImp0O9VsIdECavR8Mt1GF2olmkfVnUsX8pOVFqJmojlETcFIHxrWGIzkbp0djOQTdlYwcjdoZjAyE9RAWeqJ6oKROEhItRSqIaqmyKpg5E6kVQYjLwFVBCMvAJUHI/tBZcHwKlApkY+ohKg4GI5zgTSDQtODtjaEphFNDdr4PCoiKgzaqhEqCNpaQflB23zQFErLI8oN2jIQmUM5JwdtvGGTgja+IGUTZVHxTLpCBpGXjE0kSidjE4jSiFKJPEEb91IKkZtsJpPNJDLmIitOokQql0AUT+QgiiOKDVrbYTMmaF0Eig5aF4OiiOxEkUQRROFUwEYFrBRpIQojMhOZKKeRchooUk+kI9ISaSinmnKqKFJJpCCSiJhv1NLl5BixdDvPWHqc30N/B3wLfIO4rxH3L+Ar4EvgC8T/E/gH0j5H+DPgU+ATYBjxHwMfIe1DhD8A3gfeA/4ettT5t7Blzr8CfwH+DLyLuNPgPwHvAG8j/Bb4TeAN4HXgj+bznK+ZJztfBb9i7nO+bE51vgS8CP0Hs9f5AvA88BzSTyHu9+aVzt9BPwv9DPTT5hXOp8zLnU+alzmfMC91nkTZ38Le48BjgG/0BD4fBR4BHjatdT5kWud80LTeedy0wXkMGAKOIv4B4AjSDiPtEOKCwCAQAO43bnXeZ9zmvNe43XmPcYfzoHGn8zfAr4G7gQPAXcCdxkznHeBfAb9EmdvB+43nOW+DvhX6F8At0DfD1k2wtQ+2fo64G4EbgOuB64BrgZ+h3DWwd7VhlvMqw2znlYalzr2GO51XGA44L1J6nHuUhc7dUqFzl7/ff+HBfv8F/h3+nQd3+I07JOMOx476HefvOLjjzR2+cI1hu3+b//yD2/xb/Zv9Ww5u9h9XXMyWKC7yTfdvOrjRr9oYuXHDRuUXG6WDG6WKjdKkjZKCbbRudG1Umjb41/nXH1znZ+sa1/WvC6xTTQusO71OwdZJhqHRE4fWORKrwL7t68zWqrX+1f41B1f7Vy1Z6V+BCi4vXOpfdnCpf0lhj7/3YI+/u7DL31nY4V9c2O5fdLDdv7Bwvn/Bwfn+tsJW/zzkn1vY4vcfbPE3Fzb55xxs8s8unOWfhfiZhfX+hoP1/rrCGn/twRp/dWGVvxKNZ/HWeFe80sorMCseNWEOqWySw+c47fjMoWKOgOOEQxluiXPGKdItsVL57FhpdewFsVfFKi0xz8cofDHpGVWW6Oej/xT9abQqwhednlXFoqxRriilnbctamYLb9uhqJIK4slT5LY6o9ypVRa7ZLE77YrKT+3SxUwpuSSJSVaQUocyhyW7s0r5MKLwZRmTpKtZi7d+SMfm1Ad0jQsC0qUBTzP/9DXND2guDTD//AWtg5J0ZdugpChvCUTWN82n8EV797KEsvpAQnNrULl/f0JZW32gn2ufT9ajXDNkafMuWr9xvbfVN4PZTts+syntj1qftyosFsliGbUofBZU3hLmDFPwj9EwpS9sckGVxew0K/jHqFkZ5TMjhrsyzdTYUmUxOo0Kf4lxtlHhM5aUV/mMmZOqftTOQ7yddGXvhkXrvZAbvPIboTZpIw/ihRS8129AmP+BEGY85adflA35Fq/HSzZD5n+6yP+BFOn/QB3/y6s4yDBFWktHFXvwXeZuYBdwIdAPXADsBHYA24HzgW3AVmALsBnYBGwENgDrgbXAGmA1sApYCfQB5wErgOXAMmApsAToBXqAbqAL6AQ6gMXAIqAdWAgsAOYDbUArMA+YC/iBFqAZmAM0AY3AbGAWMBNoAOqBOqAWqAGqgSqgEqgAyoEyoBTwASVAMTADmA5MA6YCRUAhUADkA1OAPCAXyAEmA5OAbCALyAQyAC8wEUgHJgBpQCrgAVIAN5AMJAEuwAkkAglAPOAA4oBYIAaIBqIAOxAJRADhgA2wAhYgDDADJsAIGAA9oAO0gAZQA6rSUXwqAQUgAYz1SIiTRoAzwPfAd8C3wDfA18C/gK+AL4EvgH8C/wA+Bz4DPgU+AYaBj4GPgA+BD4D3gfeAvwN/A/4K/AX4M/AucBr4E/AO8DbwFvAm8AbwOvBH4DXgVeAV4GXgJeBF4A/AC8DzwHPAKeD3wO+AZ4FngKeBp4AngSeAk8BvgceBx4ATwKPAI8DDwEPAg8Bx4BgwBBwFHgCOAIeBQ0AQGAQCwP3AfcC9wD3AQeA3wK+Bu4EDwF3AncAdwK+AXwK3A/uB24BbgV8AtwA3AzcB+4CfAzcCNwDXA9cB1wI/A64BrgauAq4E9gJXAJcDA8BlwKXAJcDFwEWsp7Rf2gO1G9gFXAj0AxcAO4EdwHbgfGAbsBXYAmwGNgEbgQ3AemAdsBZYA6wGVgErgT7gPGAFsBxYBiwFlgC9QA/QDXQBnUAHsBhYBLQDC4EFwHygDWgF5gFzAT/QAjQDc4BGYDYwC2gA6oE6oBaoAaqBKqASqADKWc9/+TL93169tv/2Cv6X14/xY9nYwYxXNmbxIvzwSXsrYyPXnvMLqEa2gq1n/fi7mO1l17JH2Zusi+2G2sf2s7vYr1mAPcaeYa+dU+r/MTCyVb2SmZRHmYZFMDb67ejwyF3AkDpsXMy1CEWoXGdjRq2jn/wg7pORa0etI0OacGaQy5oVL8LaP6Uzo99iy9Uw82g+DysugbbIV/pce+vI/SMHzmlAI2ti89kCtpC141donWh/D1vGlsMz57E+tpKtkkOrkLYUeglCi5ELy4usz+Zazdaw1Wwd28A2sk34WwO9PhTiaWvl8Ea2GX9b2Fa2jZ3PtrMdoc/Ncsx2pGyTY7cgZSe7AD1zIdslK8EUs5vtYReh1y5hl7LL0GM/HbpsLNcAu5xdgX6+kl3FfkrvPSflanY1u4b9DOPhOnY9u4H9HOPiZnbLD2JvlONvYrey2zBmeInrEXObrG5gN7KH2JPsCLuP3c8ekH3ZDd+SR4RflsieXgMfbEebd4+rMXlz85i3dsIbvN0DoXZvgf92jSuxKeRH7r3dyMm9MxDqB25lRyhGeOJqtIz02XZyH/E2XHVOO0WJ/y2Wt5j76Rb4S3iG++wGxN30o9jxOcbrG9gvMANvxyf3Kle/hCZ1m6zHx986lne/nPYrdge7E31xgHElmGLuQtwBdjfm9m/YQXYP/s7q8YpS72P3yj0XYIMsyA6xw+jJB9hRNiTH/6e0+7F2/LDMoZCt4JiVY+w4exAj5BF2AivN4/gTMQ8j7tFQ7Ek5F4UfZ79lJ+VcPPVxjK2nsEI9y37Hfs+eZ08g9Jz8+TRCL7AX2UvsNckM9Qf2AT7PsBfUf2VhrBS3/8fRG7ewRfj7//hSx+HXrftHvx7dPPq1soYtkVpwgLwHvXSYXYEnE6vOXlpyMoPqzyySHR79SrkQPOHMG+plI78c/dQ3/+KLNqxft3bN6lUr+85bsXzZ0iW9PV2LF7UvXDC/rdXf0jynqXH2rJkN9XW1NdVVlRXlZaW+kuIZ06dNLSosyJ+SnZWZMSHVk+JOdsZE2qwWs9Gg12k1apUS5/OMSndVhyuQ2hFQpbprajJ52N2JiM5xER0BF6Kqzs0TcPFynUg6J6cPOZf8IKePcvrGckpW13Q2PTPDVel2BU5VuF1D0vymVui9Fe42V2BY1jNlrUqVA2YEkpJQwlUZs6zCFZA6XJWBqk3LBio7KjIzpEGjodxd3mvIzGCDBiOkESowwb1mUJpQLMlCMaFy6qCC6cz8sgGlp7KzJ9DY1FpZ4UhKapPjWLlsK6ApD2hlW67lAdSZXe4azDgxcMWQlXV1eE097p7Oha0BZScKDSgrBwYuCdi8gXR3RSB9219j4MDeQIa7ojLgdaNi9XPGLiAF1B6r2zXwJUPl3cMfo9bjYjpDMRqP9UvGE3kTx9wUkDqFZqgbaoj2JSXxulw+5GNdCAT6m1op7GJdjiDzZXvbAooOnnJCpNj9PKVfpIwV73DDs5Xuyo7Qe9OymEB/lyszAz0rvz0BlQfproAytaOrexnnzt4BdwVaCF+yltaArwLC1xlyZuXgpGzk7+xAI5ZzNzS1BrLdawKR7jLyNiJgxFO5vLlVLkKxlYHI8gDr6A6VCmRXoiyGSOUA7xheQW7L3dR6jOWOnh7MczkO5bI81sbrEYgqR6ekVg609iwJODscPRifS1ytjqSArw3ua3O39rbxXnJbA+mncTm80IFyKbTtB7lFZjQ7oPXoXK0Kh7KN9xYiXFX4cJdNR4I1oKEg79Gy6a5WycFENlwllIOrc+wgoPSU16AwGEXLaxxJGNzy6z9UyUENQDUCurE6qVAJ9dk60XV+smqUm1co3VXZWzGugucYRUCuYMjav6+ngvsi5AxUQce7s4a3ITNDAe1Csi6gQDvlKN6LMa4Aa3S1unvdbW6MIV9jK+8c7mu5f+ub3fzxqtzboVHSck6I0gspLcCS6ltaRYA/eQpUeeV+5d0qh6vl8Fiw5gfJtSIZ6w5rHBjoGWRKDx/KjkFJFuryy9sCs71t7kCX153E65mZMahjpqSWjnLM3iqsnO6qTrfL6qoa6Bwa7e8aGPT5BtZUdiybinkx4K7tGXA3t05H58oLwQ7HNl6XcFYv1beUwZSClQ26pUubBn3Spc3zW49ZGXNd2tIaVOBZc0dZ22AK0lqPufBfHnKsgsfySJ7FxQPc0hwEdHJ+xzEfY/1yqkqOkMPdQxKT4ygT4iTWPaSgOKucbzBVvpAP/zvRPaSiFJ+woEKcjuL6KfeEUG4dUqw85TjDRoKHf6gzvehJoM+g9ul8ep9JYVbApbxLgog5jrx6iR0ySWbJMQibaAGi8ZX0oN7nOCZboqjjUj9y8rh+WA9lUzCebZwhXJIa7geFWuCf33rIxGBf/kSOMv7CEhKzDGMMG02lq4ePv+1tywY62vjqwaIwVvGWApK7mAUU7mLUWGMKGNy9ZQGju4zHl/D4EorX8HituywgRUno7CEsugMdbizEmFOt+LqjDcPfyqe3wuMaGh1taU065RhuS8KcXwjMbw3ovdjo1J465Kvm6EB0daC/u5PXg/mxlvGlp7a7DZNdGESW2oAeFvQhC8hRJZfh8w2FujHWMCDl8v0IBPrbAm1eftHW5bxGLpc1wGrcUwOaVLKpTuUXym4bCHfn8JmLrAGD5xJOetSNNbdSjANBXAw7Cm+R1oSad7uR1N3hgtcxRpoxl2mzMPBxiJherPmq1F4ZBkcokfFmKT1GsyGgz4JBvLk2ZsEg3to2OIU3Xg5dEsqAa1sDRtQodZwrQwXgHSTV8rrgfQkqz7M+xs00DbE57i1Y+3ml5UtpkRwwe2o7sbtReSNi3IWiMGzpPDyK2zhJsVrechP8jiVhaPSAeytf4sQrM8PNdz8+/pjjGCYqaxv4YURggTczQ/fDWLMcPTCgM//7AuQvnXmMuRU0pJtva2A+4OTx5qrkG6y7blAxCznAkswDdW5sagoPBw46SkyfJFdPG8+FKjfKa5n7pzLBxFgmvk3Lxges0/iphIeQLocQwHsgsPTc4LKxYBWSq3AY9GQB8jsVHcPX/RWOQB9GJpLlLLxHXAMuq3uqm3+gqUrMBqAD/TQ2LTD8Mer4pOnvdrV2YbDDPVUdA1UDuIiruxPF+BgMXSmwynuOScwLCfMQDuFeCPQ3ujraXB04mkpNrUlJDsxGsGtJZ8Dn7uRbQSOuj3cjtiRQ5wAf4qwNF3UEtNiYlnT2upOw4SCuTfar3D+4Ok0b5hgYcA8E5IWgCplhPhXTrpYT3mu87s5efoTG9VydvXLZKlRX9g6vn6PSjbnci9pyv6Nd+O8v1sU/ugfcsNbe4YUnbAPhA66iASzB7dg9VKndczuwVfEdySV3dacDIfi1lofaYIgy6j08I00BXpuV3sF2redsDJ+LgdVeyqyTraJmc1oDjaKQPJ94rrXegCK6EImoaUCag5UN/ufrFJyn9tTCvT4MPQcv7QoosL1S98jla3lRLA3UYVQMMfImIk8xbJJitxH70EIHfPqT8UwVxhge1zPV7cytULF7VMnsHuW9rFr5CluoymP7lN+xdsVa5lGeZFPwyP8i5a/YPvA+TQ/bx9NVhWw+Z8WzwH0sCV9q3IjJLX9hDDbhWVIOOAn3Z2roMGZjZqZDuh7/oWll4UyLZ00m7EMq/PNfBDMgH389yh6V+qRHFfXKYpVV9bj6Qk2UNlV7j86v26+/2VBseNt4hSnKdLfpJVhlI+uVL+KJlhK2ithMNovdGLjI2/oQ9rM5LIpNlY4csVdU6DK1j0jluJALz6tRAancZ1EpzEfj4krcR6do9ipttUNS5uES7V58E1Ny5p0zz2WfeWc4vCh7WMp++9133rV+/pytKDv33ZffnYxv5iPjzEf7UHSK+2jfFKVmb5/SVsLL+/R9JT6Fdm8fjMSUeOOe8z6X7X3OCzPeSZPbJFuSTUZkmEKrjdS4k7MUU9JS83Nzc4oVU/JS3clhCjkuL7+gWJmbk6hQIifFFCt4WFK++P185ewzGsVOd8ncXHVinCXSrFEr4mPCM6d7rM0LPNOzErRKrUap1mknFJQl1/dVJr+htSXYoxLCdbrwhCh7gk175k112Lf/UId9V67q++46pWbawpIU5c8NOoVKoxlKjImdOC2pdq4lwqoyRlhtUTptuM00oWLhmYvt8dxGvN1Ots7MhDvdo9+qdqojWTJLZW9xvx9jKaPvHzZZpQb3UEikDo1+dtiIGKMQ+M3FZ744HuWx8k+z/GmSP30TJA9PzjBKM1PcqZ4vTEZTTHKC22CWolQmZrKaFPe7H3U/71a6TW5TeMKccL/az0pKSsKLirKz29tt0UU2SFuudTjHljt5kuRtp0fQ+KLe4UuESZPni77xNsfbiRGGxsx4YQWd54mK0sg9lqZMUoYp3cmpqfkFEnVTtNatTFJt1ElWj9PpidCrVp/5+wqlIcIdn+CxSDopqDLHpiW6JsaFqc6X/iQ9PiPKEaZSak16adrIM3qzXqUOc0SpgsYwnVKpsxj3njkfM+Se0W+lVnjWzjq5X4+WRM+Ovj9ayeDVQ1ZpJvizQ5YQm2X+CodEHv/+IbiOHVfYmGH0xFG7NNNgnSO7SMr2viv7YvKkdschORLt5Y0T48yWRwPNLrXqIpNiY5IjdXp7UnRsUqQuTmfSqtVak071hlDof9RS+RRmXzxLZ7fxeg6maEI1BMs1lBk1BMs1lNNRQ82QwuaLtiXEoDUJVjQlwWoySw0JLqQlDClygszmGZIMhzQak3tIMh6yN5l4P4cm5ctyS6zUnhxMykENz32kD9ntPP/hPrkAGjg2/3gr3bazbc3PTcpJVGnzsng0n4TKp3yb791yrT4iKZY3eWKcZJ84c/nKhvQj0+a1Z9x286ylVSnKaztvWTV9JEs4QfWbCcna6JKFW+fNXpEXduabCdXd6L3q0WFltzqJ1UoTaFaUYjJYMNRLuVfgDZnRcpnRb2C530qHFBk+b44vIlJqyPHZMAdyUnJMjhhe1mFFQYcVpRxWFHHEwFOO4/jim+HnPQ65708cig1xJPEDFhu+iTNlPSilsQJmkFJ9RpurQCrwGU1Sg43/TsbAVYGtwBY1fUgyHSl1qNObo4ak9EH1XFYyzKfVsI1PLa+33TpsxXr4Mh9D5Hh5zokA74SCrCEpLdhnMwxJqUf7ZKvp3OzRPtmumhsO9sEylkdu2hsyzZdH6hjVlNAYpFUxSxMKa+yhjuPLpD0yUaPsLt98e3vp6nnToo0qnUkXltu4tq6wvTwlZ87yVcvm5E5bfk2Ld97M6REalUKpMWqN2RXtU/Mb8+JymlesWtGcK5234MrunChXcozHieVRmzzBnVjQmFswa9rk3OKWtbObLpibaYl1RhhtMRHh8RH6eHdCwqQyT/6s6Tm5M5rXMoz+hejlEuWzLBdH2a94P/tcljJnWXaZ0qiPzjOhj/J4l+Xxjsqz8i7MG5L+5QtjaWkWJpkYH/VsKh8RyAp+n48MmVGAszxkpg4pdL5IW/QTLM+ap5h2Ik9ieVJeXlbpxCHJ4bO8kCwlJ6sSPsyqm/GWaaaKZaPT+CRpH8Y6mN2+dlE7+kzurpPeRe1F2TRncoomT1rU7vCZjdFSXvQTfdxesmwwqo8lY6mFzayED/uy6kwz3urjdmOy0WV8LuFRqpeb9rbLSwdfFlNTp0yh5VHurdwpfE6NbWfFKr552bXUc1G5OfkFyhJrvCPOGTbtmqbq9U2ZxRvuXr49avKsohmdtZNNOpNepXWUzV2S13lpS+odeyt6ypxtjaWrZ8SYTJjepvklVZ6qJaUNa+o8VXmNUxwJ7gSdNdYSmxDnTojI8O9sORmdWZJe1VxWgT7ahz56Rb2WTWQz2AO8j46UlEiGpPzQagSW5yNYnn88LHs9f0j62uewe8PRNV4X+sXLe9HLVysv7zfvkMLg0zO7IX9Kkko9aUhSP5Ba56iyNhRBDqpn8rnDV6voIswYmi1nPd/uOErlUnlBHBuoqJqXxfSYKU8PvnJFF52dGYo0MQWmjK3TNtqB5DUM/tbaouBeLGSv5HZf3e6trapK04U77JHx4RpthCsm1hWum1BfUzOh6/J5E+6z5831uYp9lWkV28uLWwtipfc2PrinypY6NX0VFjeVCmu9uhATS8Vn15m/pRe6rbN2BzZW7uqZET6xLGdkX/O86d3n83nQDh/vwzzw4vHih/I8mJidX5K/Ol8ZwT0X4YK/IiKSMviqlcHdmMGnRYY8IzKGpG+OVHjv8Cq8cP0R7tk81dDoaT4VwJ/wqSGHUQxMU0LFnZ+UlPFUv+pqleKESnpBJalU8dlvpdbFfNgRtiZMEab/MB59cObl9tBsWLtOTIOct73tcofwMezle6EvWZXxVN8m2UZq9lvojbCYD/tYmBW/M1SGxes/7IMtrFgn+dCX50C7fKDDGS4pMhFHs9CuGRlGhzqxi6bly4c6rXJfWuyZYGLVmiZfT222SWvUKBVKrTF/7lrf6gPrpk5fu797xfUdmXcpt26esbA4WaFQpCXVb5mbZY+za8Niw80RFpMxNiaieNvQtg3HLqysWH9za8Su67Iaegv4WduDb3AvVm9h09ml3PfBKCsOAacPw1/MERrdnOVRDSFvwmB5uDvg/eCkiThxveALt2Kr8BiG86vjUocn1bgarDX8XDWcUwLPeU/mfs7X/ZPe3JP8CGzLNwz3Ieek1OG+UF5+dvLmlJBnsNXieCvPeLs8++GrcXsvlgyxUsi+UykuVql1Gq09Md3hyXOFPaMz6tXhlmd0GLUxrgjdBVYrH4UXuGtW1rnLUkw6pdoSER2m1hv1MblNU7u0triIFNf3H+mMfLgadUq7KyUizqZtX3TJ3HSzxRThYLhDmDJyrfIy5dOsGHcJi6UoeaTawzOr+Xyu1mGgVbusEVJDdW7J0OjXfOCB5TMM+PQDPKlEOxvSZ7aESw2zHSrLJGWuVstHK9+U+W5qhsjM1Toc2txMFe8HXx7viFZ+iVaXFcVaJ3p8RrDHMkmrLKx7w9T8vt3eUaj8YHrNRFfZ64V1C153zearBxbxEnkNH36VlhFv7ineAdHYjPl2bMPqYD3lxdsrPnjPpMl2TXVv9Jns9ub3+7jx6coP+rj5wrLX+wrrXAte78Ml+BaM9byEFnPrk2OrDXoqKorWmtQ0DTbeqOjoROXY4oPRXYAFH3cp/JN3X1R0Uk6URHcwyM3nQ0RealpaGArRenRZhOVCd3xOe/+sgm5HeHRp/kfla+Zk5Z1319qV+7oyrEmTXZOzczzOlLyFFzakVzslq802MtLbPqk6O7p3weSa7OjmxU0fuNJj9Hs21fcWO5Qb3M6UedmztjRnJESFZyW6sxQGRdKMtmnFa/yTPb62vKTiwtzY2IaMGR2pnvaymdtaMvW6pJHPFy51FdZOaFviLKg5s2hqiUIXm5k+wV5anjCpmK9jF+HM3aTOxpk7iR3go+NoiXu2e7VbGcWnCxYksDx95HCEHJa7HmF5nMjx6O+oB3HXHM/stLfgZ9hyKbA86cA0G+3YYx4wOH0YG/j3i+LDsdZadQPm3KvD3tCWHdo55FVqMJZnOtJHuTDbnuRT7cdn9wh+a8n7Bx0jFevCXbGYQVqx/kdkTJvq5Ygdmyt7+Kke00srTZo6Mb0IwKqyDyf77dg389gheZ6YSvKl9MnSZF+4NHMylgt5OYGQF2rwh3y+yGG0f/KD+JllMjOF2mni7oH7wLIjwLIjTHyPjYvKzGTcBcwHCywq2aieUBtfZWuQXSHf10nZJ71enFzkFSjnNF+HuEewcBvH5+YLED9UjvNKmjTuvB9apW2h2zZ7pEYrSVFRyu26iOQ4hzvGohnZ80N3SS268NjkmNhku95sGTkurTIbcSekw+2bWS/9Y8QsnHh2p/z+RWmTwaxXYoHXm2KsI8dHPDY7X6fhUakYHrWzJhpbuKNbLd/Ryc7BYiE7Z+wOTowSBi8dNlirZH+ExgXdwfEoNHpce8+eDH7c82MdfrauVCv1C9i7G6VEuZ8d4VZ0YATfpVOt/NYgLYZ/rpkjVUWEagiWuw/8GV/4ZEYHgj/k3RzBuzUxMQoyMTHHYEC3GviGb+BGDfKuj/uDb4428vubxuK0kFmwbBYsm5UZZmVG8bQH8evXHGaVNMH6upQhSeMzl9YVV2UW1mY2xI4bLXzpDLnJW/Qy3ang4U3olgXn3nb5N/uOwXorjBzuq68rla2F9Z1rTgwnvkye62K+sWm040bWjyJCQ82ej0mYqIimU5pd/QKGF05hEbrIjIqsovWVfHuLTorQRmWUZxVtqBCDTxMeHx2VYNU2XFVb2FYxyZrZVF+dMm9TrXOsCxXuokUVKa3+M5eLAfjjGOUebKJKpd6o2+yfHZddOmFyxcSIGUsuawjN7v3o9Rw2JPe6hXqdd31JnjTx3/SsPEYRL49RcGgE8ENyopHfkxp5Fxv5PmfkPW7knW3ESDhK8zqRO9tnyKybGJtSK7qL73AS9rLx52NvqIccg5lyEWPfuDK8T/iW9b/0x7nutyv3k9/DdTFZtZOKt//Y0TfOnH9+Q9JZ91pm/sC95zgTTuzg+8V8nHvfgRcjWBp7RvZjfEm6NCFcSrdJqWYp1SSl6qRUrTRRKaUrpETuNDgKLG8WYHnxBMunXDkdTkvkh9vEbINkiOR3G5HcpZH8HB3J70UiuV8jj+Mn5bjrP2phM9egO2OHJCloqcNzD0Xo1gNubQ+5NZtOu/KK2U4vx6CFFzncZ6lT80Jj9xzjD2+hG2+FuLnATbd81FW+M3X9vetW37kqv2j9PevBBfc5ilfMrl1ekeQoWTG7ZkWFS/rbqmMX15ftPLwOXAfeXrurqyhv8a6Zdbs6i/IW7eLe2zdynfIVeI/fmQ1y7/E7s6R8/nCQryJgeazxsLzZQMiDDmvH175oO92Uybdn8tMRuj/7t3dltdbZP3lX9p9vylDyf7spG7cMiGH30zdlP1s0oaLUlzJuokfaHeHa9IaZTZldA/ymLFe+KatKq9hWXtxWECd9sOmh3dXW5Dz3SLG4F1N9gDmNR4VG/daJxen2hj33b6y8sGd6RHr55JGb8BV6z3aa4YoD8G4uu5j79vCaKVKqJeRSsOxJMLmWC+5zC3dtOPPhaMP44sz4sGNx8LjHp/fWpVrsrlo7P6Fgl+UzF9syDTI+Zx2DXjmjoe9sTsxXnnX8sOL3BOPXznOcplEcUGj0Ol10Qoo9dtKUqe5xnpKXRE/p1KIEc1JKgkmllJRdUYk2vV6vi8xqKDgTEEvh2bm6O78izaLUGQz6MAd8kjT6qWKl6l42lV0m+ySd2dyZvOmYYTKjtWB52IHl2Sozplwmd40p2pw57K5JMA9H10weklSDWvk+f/gUd0YurWI5p07y55E+mB7uQ95oX7R5uC+6RssLBPtQQj54x1lPiWVMJT/jt/3wnkhhH3/nJJ+j+WaiWKmzutKzoqt6fAk7LeFqnVm3Qxzu3uOPTsIt7xVUR6fER+rUerVqQUKyNUyv8dSvn6UIo5uiV/HoWaXSm7Sv0m3TiKF9sd6gV4fFwEc3jv4L/zpwGt/PpHMfDTI8rz3xABYejV6Jnj+FW8HH0LxDeh+CMSVxp+SleNyJc1V28fQsjpXV2VmVgPyVDiyHA/zFvwdipfxV7i3v7FvetW75/wDUW+g8CmVuZHN0cmVhbQplbmRvYmoKMTMgMCBvYmoKPDwgL1RpdGxlIChNaWNyb3NvZnQgV29yZCAtIFNhbXBsZSBmaWxlIGZvciBibGluayBBUEkgaW50ZWdyYXRpb24uZG9jeCkgL1Byb2R1Y2VyCihtYWNPUyBWZXJzaW9uIDEyLjUuMSBcKEJ1aWxkIDIxRzgzXCkgUXVhcnR6IFBERkNvbnRleHQpIC9DcmVhdG9yIChXb3JkKSAvQ3JlYXRpb25EYXRlCihEOjIwMjIxMTEwMTMyOTM4WjAwJzAwJykgL01vZERhdGUgKEQ6MjAyMjExMTAxMzI5MzhaMDAnMDAnKSA+PgplbmRvYmoKeHJlZgowIDE0CjAwMDAwMDAwMDAgNjU1MzUgZiAKMDAwMDAwMDM2OSAwMDAwMCBuIAowMDAwMDAzMzI3IDAwMDAwIG4gCjAwMDAwMDAwMjIgMDAwMDAgbiAKMDAwMDAwMDQ4MyAwMDAwMCBuIAowMDAwMDAzMjkyIDAwMDAwIG4gCjAwMDAwMDAwMDAgMDAwMDAgbiAKMDAwMDAwMzQ2OSAwMDAwMCBuIAowMDAwMDAwNTgwIDAwMDAwIG4gCjAwMDAwMDM0MjAgMDAwMDAgbiAKMDAwMDAwNDEyOCAwMDAwMCBuIAowMDAwMDAzNzA3IDAwMDAwIG4gCjAwMDAwMDQzNjQgMDAwMDAgbiAKMDAwMDAxNTUxMCAwMDAwMCBuIAp0cmFpbGVyCjw8IC9TaXplIDE0IC9Sb290IDkgMCBSIC9JbmZvIDEzIDAgUiAvSUQgWyA8NmFkMGE5OTdlMDk0OGIwYjg4YzFjMWU3ZGI5OTdhMWY+Cjw2YWQwYTk5N2UwOTQ4YjBiODhjMWMxZTdkYjk5N2ExZj4gXSA+PgpzdGFydHhyZWYKMTU3NTkKJSVFT0YK
              (1b) Standard invite (tag):
                description: (1b) Standard invite (tag)
                value:
                  name: Offer.pdf
                  externalIdentifier: file_offer-2025-001
                  signaturePositions:
                  - signer: crm-4711
                    locator: TAG
                    offsetX: 0
                    offsetY: 0
                  contentType: application/pdf
                  content: JVBERi0xLjMKJcTl8uXrp/Og0MTGCjMgMCBvYmoKPDwgL0ZpbHRlciAvRmxhdGVEZWNvZGUgL0xlbmd0aCAzMjUgPj4Kc3RyZWFtCngBpVPLTsMwELz7K4a3A9RZP+I4VxAXbkiWOACnCA5IRSr5f4m1k5Q0RVVLlUM2Xu/M7O5khSesQPx4bVA3Bt/veMYXyvtOo+1yitC16ZYyrv/uA09acUG7xF1ElTAovSwRnKtEXKKM0UAjfuAF8qTAwqkAecoBKQt5dn4xhpcFw2vIq3zAwauc5MQsVxTQRjnI61RmIG9yWTWpv12XL4Y7qucSshwO1lyUMwynR3bT353gzVAgbSGc8pCs3CXlbgRhLaZJ7XGfQbEmmzOscsQYVQ+KIKtCvCE+4iHyOtJC/j99TZ634u32CtJs42fPcdAybe02lzlFOtY+4i/7WHLYsI/0v9p3MIoDDMsWJCKD2E69qz0Prw5s4nnPddhLwl7/zHbTvmbekHl3dz53hth/lcGpxvoq9TbjyM4Qvft+AAJkz0IKZW5kc3RyZWFtCmVuZG9iagoxIDAgb2JqCjw8IC9UeXBlIC9QYWdlIC9QYXJlbnQgMiAwIFIgL1Jlc291cmNlcyA0IDAgUiAvQ29udGVudHMgMyAwIFIgL01lZGlhQm94IFswIDAgNjEyIDc5Ml0KPj4KZW5kb2JqCjQgMCBvYmoKPDwgL1Byb2NTZXQgWyAvUERGIC9UZXh0IF0gL0NvbG9yU3BhY2UgPDwgL0NzMSA1IDAgUiA+PiAvRm9udCA8PCAvVFQyIDcgMCBSCj4+ID4+CmVuZG9iago4IDAgb2JqCjw8IC9OIDMgL0FsdGVybmF0ZSAvRGV2aWNlUkdCIC9MZW5ndGggMjYxMiAvRmlsdGVyIC9GbGF0ZURlY29kZSA+PgpzdHJlYW0KeAGdlndUU9kWh8+9N73QEiIgJfQaegkg0jtIFQRRiUmAUAKGhCZ2RAVGFBEpVmRUwAFHhyJjRRQLg4Ji1wnyEFDGwVFEReXdjGsJ7601896a/cdZ39nnt9fZZ+9917oAUPyCBMJ0WAGANKFYFO7rwVwSE8vE9wIYEAEOWAHA4WZmBEf4RALU/L09mZmoSMaz9u4ugGS72yy/UCZz1v9/kSI3QyQGAApF1TY8fiYX5QKUU7PFGTL/BMr0lSkyhjEyFqEJoqwi48SvbPan5iu7yZiXJuShGlnOGbw0noy7UN6aJeGjjAShXJgl4GejfAdlvVRJmgDl9yjT0/icTAAwFJlfzOcmoWyJMkUUGe6J8gIACJTEObxyDov5OWieAHimZ+SKBIlJYqYR15hp5ejIZvrxs1P5YjErlMNN4Yh4TM/0tAyOMBeAr2+WRQElWW2ZaJHtrRzt7VnW5mj5v9nfHn5T/T3IevtV8Sbsz55BjJ5Z32zsrC+9FgD2JFqbHbO+lVUAtG0GQOXhrE/vIADyBQC03pzzHoZsXpLE4gwnC4vs7GxzAZ9rLivoN/ufgm/Kv4Y595nL7vtWO6YXP4EjSRUzZUXlpqemS0TMzAwOl89k/fcQ/+PAOWnNycMsnJ/AF/GF6FVR6JQJhIlou4U8gViQLmQKhH/V4X8YNicHGX6daxRodV8AfYU5ULhJB8hvPQBDIwMkbj96An3rWxAxCsi+vGitka9zjzJ6/uf6Hwtcim7hTEEiU+b2DI9kciWiLBmj34RswQISkAd0oAo0gS4wAixgDRyAM3AD3iAAhIBIEAOWAy5IAmlABLJBPtgACkEx2AF2g2pwANSBetAEToI2cAZcBFfADXALDIBHQAqGwUswAd6BaQiC8BAVokGqkBakD5lC1hAbWgh5Q0FQOBQDxUOJkBCSQPnQJqgYKoOqoUNQPfQjdBq6CF2D+qAH0CA0Bv0BfYQRmALTYQ3YALaA2bA7HAhHwsvgRHgVnAcXwNvhSrgWPg63whfhG/AALIVfwpMIQMgIA9FGWAgb8URCkFgkAREha5EipAKpRZqQDqQbuY1IkXHkAwaHoWGYGBbGGeOHWYzhYlZh1mJKMNWYY5hWTBfmNmYQM4H5gqVi1bGmWCesP3YJNhGbjS3EVmCPYFuwl7ED2GHsOxwOx8AZ4hxwfrgYXDJuNa4Etw/XjLuA68MN4SbxeLwq3hTvgg/Bc/BifCG+Cn8cfx7fjx/GvyeQCVoEa4IPIZYgJGwkVBAaCOcI/YQRwjRRgahPdCKGEHnEXGIpsY7YQbxJHCZOkxRJhiQXUiQpmbSBVElqIl0mPSa9IZPJOmRHchhZQF5PriSfIF8lD5I/UJQoJhRPShxFQtlOOUq5QHlAeUOlUg2obtRYqpi6nVpPvUR9Sn0vR5Mzl/OX48mtk6uRa5Xrl3slT5TXl3eXXy6fJ18hf0r+pvy4AlHBQMFTgaOwVqFG4bTCPYVJRZqilWKIYppiiWKD4jXFUSW8koGStxJPqUDpsNIlpSEaQtOledK4tE20Otpl2jAdRzek+9OT6cX0H+i99AllJWVb5SjlHOUa5bPKUgbCMGD4M1IZpYyTjLuMj/M05rnP48/bNq9pXv+8KZX5Km4qfJUilWaVAZWPqkxVb9UU1Z2qbapP1DBqJmphatlq+9Uuq43Pp893ns+dXzT/5PyH6rC6iXq4+mr1w+o96pMamhq+GhkaVRqXNMY1GZpumsma5ZrnNMe0aFoLtQRa5VrntV4wlZnuzFRmJbOLOaGtru2nLdE+pN2rPa1jqLNYZ6NOs84TXZIuWzdBt1y3U3dCT0svWC9fr1HvoT5Rn62fpL9Hv1t/ysDQINpgi0GbwaihiqG/YZ5ho+FjI6qRq9Eqo1qjO8Y4Y7ZxivE+41smsImdSZJJjclNU9jU3lRgus+0zwxr5mgmNKs1u8eisNxZWaxG1qA5wzzIfKN5m/krCz2LWIudFt0WXyztLFMt6ywfWSlZBVhttOqw+sPaxJprXWN9x4Zq42Ozzqbd5rWtqS3fdr/tfTuaXbDdFrtOu8/2DvYi+yb7MQc9h3iHvQ732HR2KLuEfdUR6+jhuM7xjOMHJ3snsdNJp9+dWc4pzg3OowsMF/AX1C0YctFx4bgccpEuZC6MX3hwodRV25XjWuv6zE3Xjed2xG3E3dg92f24+ysPSw+RR4vHlKeT5xrPC16Il69XkVevt5L3Yu9q76c+Oj6JPo0+E752vqt9L/hh/QL9dvrd89fw5/rX+08EOASsCegKpARGBFYHPgsyCRIFdQTDwQHBu4IfL9JfJFzUFgJC/EN2hTwJNQxdFfpzGC4sNKwm7Hm4VXh+eHcELWJFREPEu0iPyNLIR4uNFksWd0bJR8VF1UdNRXtFl0VLl1gsWbPkRoxajCCmPRYfGxV7JHZyqffS3UuH4+ziCuPuLjNclrPs2nK15anLz66QX8FZcSoeGx8d3xD/iRPCqeVMrvRfuXflBNeTu4f7kufGK+eN8V34ZfyRBJeEsoTRRJfEXYljSa5JFUnjAk9BteB1sl/ygeSplJCUoykzqdGpzWmEtPi000IlYYqwK10zPSe9L8M0ozBDuspp1e5VE6JA0ZFMKHNZZruYjv5M9UiMJJslg1kLs2qy3mdHZZ/KUcwR5vTkmuRuyx3J88n7fjVmNXd1Z752/ob8wTXuaw6thdauXNu5Tnddwbrh9b7rj20gbUjZ8MtGy41lG99uit7UUaBRsL5gaLPv5sZCuUJR4b0tzlsObMVsFWzt3WazrWrblyJe0fViy+KK4k8l3JLr31l9V/ndzPaE7b2l9qX7d+B2CHfc3em681iZYlle2dCu4F2t5czyovK3u1fsvlZhW3FgD2mPZI+0MqiyvUqvakfVp+qk6oEaj5rmvep7t+2d2sfb17/fbX/TAY0DxQc+HhQcvH/I91BrrUFtxWHc4azDz+ui6rq/Z39ff0TtSPGRz0eFR6XHwo911TvU1zeoN5Q2wo2SxrHjccdv/eD1Q3sTq+lQM6O5+AQ4ITnx4sf4H++eDDzZeYp9qukn/Z/2ttBailqh1tzWibakNml7THvf6YDTnR3OHS0/m/989Iz2mZqzymdLz5HOFZybOZ93fvJCxoXxi4kXhzpXdD66tOTSna6wrt7LgZevXvG5cqnbvfv8VZerZ645XTt9nX297Yb9jdYeu56WX+x+aem172296XCz/ZbjrY6+BX3n+l37L972un3ljv+dGwOLBvruLr57/17cPel93v3RB6kPXj/Mejj9aP1j7OOiJwpPKp6qP6391fjXZqm99Oyg12DPs4hnj4a4Qy//lfmvT8MFz6nPK0a0RupHrUfPjPmM3Xqx9MXwy4yX0+OFvyn+tveV0auffnf7vWdiycTwa9HrmT9K3qi+OfrW9m3nZOjk03dp76anit6rvj/2gf2h+2P0x5Hp7E/4T5WfjT93fAn88ngmbWbm3/eE8/sKZW5kc3RyZWFtCmVuZG9iago1IDAgb2JqClsgL0lDQ0Jhc2VkIDggMCBSIF0KZW5kb2JqCjIgMCBvYmoKPDwgL1R5cGUgL1BhZ2VzIC9NZWRpYUJveCBbMCAwIDYxMiA3OTJdIC9Db3VudCAxIC9LaWRzIFsgMSAwIFIgXSA+PgplbmRvYmoKOSAwIG9iago8PCAvVHlwZSAvQ2F0YWxvZyAvUGFnZXMgMiAwIFIgPj4KZW5kb2JqCjEwIDAgb2JqCjw8IC9DcmVhdGlvbkRhdGUgKEQ6MjAyNjA1MjAxNDE2MjhaMDAnMDAnKSAvUHJvZHVjZXIgKG1hY09TIFZlcnNpb24gMjYuNSBcKEJ1aWxkIDI1RjcxXCkgUXVhcnR6IFBERkNvbnRleHQpCi9Nb2REYXRlIChEOjIwMjYwNTIwMTQxNjI4WjAwJzAwJykgPj4KZW5kb2JqCjcgMCBvYmoKPDwgL1R5cGUgL0ZvbnQgL1N1YnR5cGUgL1RydWVUeXBlIC9CYXNlRm9udCAvQUFBQUFDK0FwdG9zIC9Gb250RGVzY3JpcHRvcgoxMSAwIFIgL1RvVW5pY29kZSAxMiAwIFIgL0ZpcnN0Q2hhciAzMyAvTGFzdENoYXIgNTYgL1dpZHRocyBbIDU2NiA1MzEgODUzCjU2MSAyNjAgNTI3IDIwMyA1NDAgMzAxIDU1MiAzMzQgNTYxIDIzOSA1NTEgNDg3IDU4OSA1NzcgMjYwIDMyMyA0ODQgMjg2IDMzOQo0ODYgNTM0IF0gPj4KZW5kb2JqCjEyIDAgb2JqCjw8IC9MZW5ndGggMzc0IC9GaWx0ZXIgL0ZsYXRlRGVjb2RlID4+CnN0cmVhbQp4AV2Sy2rDMBBF9/4KLdNF8MTKowFjKCmBLPqgaT/AlsbB0MhGcRb5+96rpCl0cRZHo5nRSMo3u+dd6EaTv8fe7XU0bRd81FN/jk5No4cuZLPC+M6NN0tr7lgPWY7k/eU06nEX2t6UZWZM/oGU0xgvZvLk+0YfuPYWvcYuHMzka7NPK/vzMHzrUcNoJKsq47VFuZd6eK2PavKUOt15xLvxMkXW347Py6AGJ0LG7Hok13s9DbXTWIeDZqVIVW63VabB/wsV82tG0962FrOqJCILW2VlUUCByHJGtVAA9dQ5FIishLqAAkQddQkF0AV1BQUiRdr8CAVtI6nyGgqwecnNNRRAW2oDBWhUUB0UIJrUQwF0zahCAVSpLRRAG6jFXRCROftazEowL09lMStBlKUsZiXoO6diVoJSKypmJZiIjSxmJSjF8S1mJcjlTVrMSkTQji/xe+V8FH6e+2O7c4x45/TD0hfg03ZB759w6AcWSPwAcle6iwplbmRzdHJlYW0KZW5kb2JqCjExIDAgb2JqCjw8IC9UeXBlIC9Gb250RGVzY3JpcHRvciAvRm9udE5hbWUgL0FBQUFBQytBcHRvcyAvRmxhZ3MgNCAvRm9udEJCb3ggWy01MDAgLTI3NSAxMTgyIDEwMTBdCi9JdGFsaWNBbmdsZSAwIC9Bc2NlbnQgOTM5IC9EZXNjZW50IC0yODIgL0NhcEhlaWdodCA2NTcgL1N0ZW1WIDAgL1hIZWlnaHQKNDc2IC9BdmdXaWR0aCA1NjEgL01heFdpZHRoIDEyNjkgL0ZvbnRGaWxlMiAxMyAwIFIgPj4KZW5kb2JqCjEzIDAgb2JqCjw8IC9MZW5ndGgxIDc4OTIgL0xlbmd0aCA1MjYxIC9GaWx0ZXIgL0ZsYXRlRGVjb2RlID4+CnN0cmVhbQp4AY1ZCXAU15l+fcyhmZE0oxMYSd1Da4ZjJAS6Dwxj3QcIIY1gRkLWjEY3EogxN8gIMJbcNsaxHUxsEhtfOGaz6bGdWLg2Dk7W3lyQ7G6ldmsrKdtxjs1mk3JSu9kUBZr93uuRjB0nlVF3v/f+/3///7//eq9b+6MHhoiVzBCBrI9MhqcI+2XY0TRHDu6X9bEwivba8NTIpD4WVxOSenpk4siwPs54mBDL6tGh8KA+JrfQlo8CoI+5UrT5o5P7D+vj9L9DOzixN5LAZwQwLp0MH07IJz/BWN4TnhzS6fNep+Op6FACz4GeT9Vxf+XJAbecbCdG4sH6eGInRQBx/JbU0xhx+AMb/tz/rUr+UX/qxv8lVjNj9tMXDtyknZ+NFpfd4m5fTzpgzsDQiDn6D/NMp29/E2v23OL+9AfgE4ilZrkv3r8+Lt2zIS71FUWlXUWPS71FcalnXVwKrrsuBQri0s7CuLSj8LrU7Y1L/jWtUteauNS5Ni5tX3tF6lgjS9tWN0jtq69IW1fHpS2r4lKbJy61erxSS/6I1Jx/XWrKj0uN7rjU4L4i1StxqW5lXKp1XZfudsUln+uKtFm+Lm2S49Jd8uPSRrlIqsmLStV5calKikuV0oxUkRuVynPjUlnudak057pUkhOXinOuSBvWR6V1BXdJhQVRae2aeyQ3ZOWvcC7fpaz0SSuFFct3uVbcJckb0ZHyRqS8NcuyduVmx6WcrLjkLFte3busPKu6d4Wvg/azaT9zeU3WaE96VVq3o8renRa0B5OrbN2GKr5bxG0LppandFurLN2mKmN3StASNAZJMKnK3C0Aaw7yQTsRfD4Dd5V7lPi9bfOmeGebZu7o1bg5zd1Fn77tPZpxTiPdPb2BGMc9Ejxz9izJrW3THu0KvCoQdIMxnq/bHoiJwiPBWuIlXi9u/Y91E2Ovl7vjj6BPL1CzDp2FDpuNhvWXBvqYkujwj8kAWUYMtfSPpMV/HP+V8N/EQUj8d4v3wlPx3xqySZo+JsfJSTKJv0NkEH+0f5RMkYOkiwyRA2SCjIBiN573knHybyRMekiU+EExQo6B+gEyihkH8dyH8f0kRPaC0zGyFfMDjEMYlBPAHgT3acaJ0ndiNAb+p8GzGzwHwSWK3NlJ+kC/z9f6hQtPnp994Mz9p0+dnDlx3/TxY0ePHD508MD+e6P7pvbumZzYPT42OjI8NBgZCIf67+nb1dsTDOzc0e3v2t6xrX3rlrbWluamxtWS3ZJUwMWsljqlbshSWEBiFiu61sICTjPWaSYG1LZ5ZTg14GrrDDTUO12uoFNxaT5NdDfQOzyoRhYRQbDALMwFi7YupW17T0BuUENsFiD+T4x0fCXlyHCJnsbX+QNaoxdwhtHHTWwMQn3Y/Cl0yyJakTXSoaqDMSK4wcbnjHGsY6h7KIiVBBVtwKu4lMAQWMXMxObyh+rQsy32OLkJEuR5OxnAHdmpzHOJXk9Ak0PDwWZQE96tsatrnpQph/V+SJMjsqwZ3cpAR0B1aVxIcSbGnQFYjAs7VZfikoPB+fjbOZRacYEXT2pjCje3Pebj5rp6AldR7OU5f+BVnuPrQkiVfOACV2VCfAyKzAnVUiAlkemAtHHwzKu8mdE7r/oImWFYkQHYOIJVMJhOBBhHIvO8DrMzupiHCfKhrkbmRR3jW+QgAmbWYTM69eoEtRkYO8W8SXhUYoYMsh+sBEf6LAaf2Zfks/HJPHxBQa8C8iZokzjymo1L5pwx8MQKAJ7nZmJJPudVxkkHvcnNgJLCZsAwQcYTSnYHI0jUF96NJrGC7p7AazYC/uwJilr6KyxoiPHtXuXjsN4egAMbYly7N4TQbsNQcDfICGvN1xWgtCEnYt4VDNYXFtDokgPKkFMJxjIy1KmGmN1e16bWIdARayzAYmGjJ+RVAxoNORpoir0aYSu4WyJKYwgkCtIGVwtAkR1ySBsIedGV7Y0q0HIkTKlJVowX3DFOdHObyCbYzWjTLMpQrWZVapcwm8lmHWOkGJNSq3FZutUblAZ52ZgaUQYQgb6OwIhzOBgGb82nhDVRqXXGRFKL7FrGYUkNMdLuxdraEIPbvB29SFJqDFlV6+WYT/SEI2E6rnch79UESqmvp0m7OKNBVjVfOBICRUOQERcWQAW1QQnLgygeWC4s16XQzaGHSvH3BFTboDKowMI+nxrGsp1yJOhUgxFmcagD1UhhgeHj6pQoTjytAe7IMB7zMhkIKQM6gGbnp2EjnwYMg+pOmNJKxUHZVqo1WrVVaRgEBb3Dg5qAiHPJg9ixaMiQDlY3/iIRWCwRyfApY67aa2jc0BHwbIQBLlUb+eRwdGnYCDSCQXSv02NFEz008gIubdypTQRpvOgkYW1mQFZlu1Kt0AeLsyZgm0Kawd2kzUTCWAdqEmIPgFYA5MAAYhkMG0PqYsRhmuhZkqTtge/vYImSyvkhmndTK2gzHXIoKIdCgGJTcDllzYBWHg7T4KJltwPycXWg9qMJq12YS2gCOTUTdoDh8JDiQnEHLMjsytwH6a2IkIBGnKqqqBoHFd2NIAZ7j2b0tNAG15RXCQ/BiVSeHB5icxuhLrMO1c/ZoLiCIOHd1O7UcKhzA/QRURGNWh+yzeB2qGmqXKWiavWh4IqeyI4QtgXZLjfKzNVhRDI1QgsdBcFIJ0xCxrL5YEG1mfTG+kzujyEAurW9Xp3YzLhCs86A1kGF0svELnT2eTU+uxJI6iCuE/UDVQGOosYzuFtgXh9Cz0lnyxqPrYwVDX1+C53qTEAS0wBhZZfumthXdBWsur66UCPlr9nYleTWzG44WhOhg4420eUs8mR9KK3PgUpQV18A+hBF9zl6sYWEEgPRDbODH9sa6QKo531hZH1Ycc7Hr3WgRoYwCinBIBWPC2FHZzDWqs6YmguczZ9pioQkXbjVrVlBRZegA/Snxa3hwqKgM8XphoMIgJi+VE7Celfj1whGsByzGzMdnSC4Z6kjkKSJvBtyaqNB76DOzKg3LTIqKip3ZDs7bfQiGxSXCXUMFkBBk7UuLzYRtrZZNsODEKclhEYl16iQRsRQokOyiEaUZo4+CFJLadZ4DJd6yqt4RzIrlbRJUipjPGdCtUcNVuzJNhR6NRIaxNaHjRpWJpXOjfSoBHvA0bjg24O0NPkDBqdIMwsZpR3SXYq0gl0owRL+ECohtZZuSTPFqUtIakg2mVobqcmeB71m8PvzWar5bxOGUGDe1JKYIrQaecxUsb8sStAd1EoFoLjy+jJa6VIMMDRyWlUjYZyw+lJohto8DsDTsKYqLK0qsTbY5jjW3UGlQwcsmA39Abp8K4KABY8VCDvs+LYe2lYg7Vj42yhoCb2vxuMEBkxQ66aDfcGPxXkCzRKDMqPzDnmD6DXSOwSqRnonMsmayFLbp6p+gr3u06RPIpUlZnSjV5Y40lGMs+EwLDoNkOiR7TBXNXOdByvBWK2OcSZPggARaccyq1XVquhbikLL/1UcQAk7XJIgqvMnAdo0XK+q5uTPxpg/TZ/MJtDkh5eTl1rKJZEOljrNWkfPL3CglkTr0Dr4d/odGm6ICnacuGM7ZCCainduksuo7WFoTIHF97JiRgkX7TbMUlpn92moPzANIdRS78AYdo1Da/C46O2kpmMxpyEz9nqD+pFrmsbGKZZSp7yyPIZzVh2H0xY2SvRlVANQmz2syKk48IyFsTWjDtG6E1yGs1QnPR3jDUCxy9xGslF/LVL0iOvCHiC6AxudVUG8V8zHf51D6xVMw2OTx+1XZdnuAEqV0/CioZ2hqSgmcAqDYRc3ehJUdAVnvKqq09EzuY1X27pgBPrGZql0WqDT0vvXBe9fQ2NzqvOjXmn9ymEXNYW2QzmCw0KdosnyLpREAJtygqqK7VRV6DvVjoD+pCiuIIeeDOgpJkHrzME72sdDG6ZiRfPx13Lo69KStGOL0qKQRsWqi+K0yGdKo1HG9dInu9jqYuVE0eWLnoRQdZfag/dDl5ZLBSf0wDAlh1ZtpskFqgkR3sG54Q1i5jOJJn4J9yzZIvrIuDhNLokVZJwfI7LwPmngfk0eFn5BLoHuvPFfgRvDPa7T8V8hl4QPyTB/nshiJ+5Gco17lhC+hbzAv0GyCcF7Gt6F8LPhi1c1WhdZhiJvIMn4fmYjJmwbGcRMUvENw0gsJAVfDzn2dS2dJGH+MnzHyGTz+8kceYp8j8vjJrivcL/n8/gY/2P+lrBCGBIeF66LqWKpOCu+Ll4Tf46/uCEDUvAT3jG0gl8qSSeFpMi3Ym22vGKVIV+0ZIxZRLt9XW5+ejrHR4k5io8txfZ3ix0leHgdadlV6zfsc7gc7pWestLykuKszAyjweVwcZ7yivLyslKPstKYqSxiTEajSXhnYXn++vX5+cXFC3cLm259ixsSa2qqyzt3+Punnjt56umOuoqVoqH15tffK8rPL6L3RfFbt/7YubuwoKm8ZlugY3ru+O6OwVJvWxlMCKsQ8av4ymOCXZy+ZItoNhrxuTEqMmWhY1VRiQNa3suVcIrgEtJdgpn701vc79+cuf0vD7zBfe/nhtqbb3FHFmZ5O3+CekLDYxAcBWL72tKiwcBR4tBep8SQChpxG2hssHu2z5pstZLMJdpiKpNOcBVnUYMYFZcDfWYOfCD45fR39u//zvTCDS7/6JMXjiz8xFDbf/WB06/uuv1b/uXpE3OnoMOW+O/EjQY/KSJ5vrSCZINjdV5mvpm4lgvRJJIELxR7i5nxG1Z6PGUlGVlZJcXM3p5V63h4groiK1MpZ/YHNjuPp4rwWx/9zwe/1vfUru6z/tovnLzwj/0T33vo1L+ffJ17ZfrkuU1Pzl789q5T76cF/uH87qPFJSPbG3vqXKv7H5m894ud/penowdGIjXbfMra0Pmjp67soNYfj/9O+LLwHskjq4nL51hhiZoVJZXYMkxRKYdYqaLQ1FFV5Sjxrt/AlC0tz6/4ODCgKFRzKKuMxlXF5RVlojEzI4u76H+o6wWu4LvH+4fU50a+dqDtwUnfRVNdrHXw2fKFP/6qL803vev03Aa+frpveM/hJ+pzWs+M3T7wRFvvzD3N7wr37G7ZCd0uwYbp9PsfkUiuz77cbDVFjSRqsETThUXVEM3FTK9VJgX+TdgNloIyupImR1YWf3Tiwvqki5dLXtx76O/7h+afvn/uxPGxz61dNZfW1aIaam9/tDW07/3LL30QffCbX3392lTHwoOt4YR1fgDrrEA+5/pSnFkkNZVIZlM0XZdPLVOUVoVYSVgmkUEmVx4Pf1aUpPCcy0N9yJc/8/2B/m+f/6ef8fztVq5mZmzqPuFFYfD1hTCfIcwdOfpQ2plfnPv8hzMffZC6Jqn/mdBYZOTz2/ng3KPnEE0yXLUFlshEhqTwGRmCwxhNtuBTo4XlM2zgYPGqlJWUlW7iS0oyadpmonF8+/nnl2/e1zPUEyz68EOhabay9eB27+lQb/nsrauoRQ0Ls8K74jZUpBxSQDaSZtJBqny57WVbx1pb6urK8t133VWYm5VVkFRYSMqM0VSSyoIX675BpTpK0mhs4OGFH+6mwVxaXlGhFxLdBx5FMdKgSGeBXZHNBlklFTqtHuh3OozGz6ry8orMlUbuf770Df/nnpSPfXTjN7955aGiEweeqG+9L7l/ct22nq6yTe7gNtfhyzt2fvno9EudXS/PhKYPhvunT3L+eu9DexoPLMw2H27svt9ZceLM/V8+Empae9dKR2f5xl6uylLTsnLDzpzS1KLcDCn9dN+Tgb4LPT0X+nqe7I3umdg3OTW5Z5J7a/M99cLZXJol+E8N12doYhXW/oZF5IwJ09/AomldEe4on5cu+4uqqoqKqquFG7eKxTMVa9dW0Bt+vIRK/Vv4kVa61CTBKBCDMcqRqJk5stjrZSWBMkSx4xTOcekyN//OQjP3/o8WvIbaW29z31+ovH2Tu7mAEknOQ6vfsxqW8nUDiVoSTNZvCFPTgklGFiKBu3rovnUvFQUL285GRNMtrjc0R3ML/5rZKPwEu5KbKL60vBUul10wmqJYmRu1kMYVvEuzCw2LrZJsllxIdUcpC2kTto1ED+6iHndcetbofen4c4+8nNveMvKIV9ya2948+si65dUxAIUb52vG3nrl9sP8rqY9myM1t9tZJ1xz1LeHghP2+WemVbbPtqhPQhs902GbP9cDYgtfPv3sY5fztrZMPlHIBH3jyh2C9Er3kUiED7BHSsT+xjIksX0xiT+RvqzgI3Jp+aCZS0M3i19/7ge7d//g3GM/3Lv3h49NzFRWzkyMHSsvP2Y/8sHTz3x49OiHzzz9wZEz/ZfHJ14Jh1+ZGL/cT2VeWnhKTEf9SFSwdEeKNbo8YWaSQnOXlVcEUdfiuvT9ZqVnlYO7s4Jdes5Q+uLkYVq8jo9eLOIyzszed3T342tWzy08ZSh9pn0A5evFD+7tal5wcD/9Zuy1t6JbFua29Os25eeE/0CGZ/qsiDnmY71wsNqZsCgrGUaT49IXjWseO5CR3bKnUxZuvLRl+AueuoLbfrqvDmOvmMZq1rM9zWZMXZ2XTve0ZSbsaWyrWNrTkOrY01ACYUS2oaEo0X1C0Q8UixsayuPNzsenNl86O95/bO/D0YvtFZEH2rfOjmx87niwZ6r44ODkE201Y2fT8ttP9ET7WvzNjS5n02TX3ZFaV/6Ww/7RHb76VeXeZSua9wW27G1aSbWktbJX/AoiG7XSmJJiTRo3WY3RtER2FHtLaK3UU4TWyxJWJvVU+eXB+4qef/6ljz4qCo4jXXjb7Hvvzd6+1RueJXhxBGfhXUOT6KFnFnpewdmRSrwGid815OEsgZOEwWi02GxRziIm6iST5kjhTWWb+IoSB7/CGZnzd52blJ4Wm90N5bYvpbSGCm7+DHxeiP+Re5H8AWdDy2tGkkbns8hcOphxnsrW1sqK5mZLS1lFU1NFWQtm4fTJP4sqQE87Ajcu0HnYqsOoIDy3kPUM91/syMM0TQM9/RmhK7mb/uq8d0/t33svIf8P8QUL1AplbmRzdHJlYW0KZW5kb2JqCnhyZWYKMCAxNAowMDAwMDAwMDAwIDY1NTM1IGYgCjAwMDAwMDA0MTkgMDAwMDAgbiAKMDAwMDAwMzM2NyAwMDAwMCBuIAowMDAwMDAwMDIyIDAwMDAwIG4gCjAwMDAwMDA1MjMgMDAwMDAgbiAKMDAwMDAwMzMzMiAwMDAwMCBuIAowMDAwMDAwMDAwIDAwMDAwIG4gCjAwMDAwMDM2NjEgMDAwMDAgbiAKMDAwMDAwMDYyMCAwMDAwMCBuIAowMDAwMDAzNDUwIDAwMDAwIG4gCjAwMDAwMDM0OTkgMDAwMDAgbiAKMDAwMDAwNDM2MCAwMDAwMCBuIAowMDAwMDAzOTEzIDAwMDAwIG4gCjAwMDAwMDQ1OTQgMDAwMDAgbiAKdHJhaWxlcgo8PCAvU2l6ZSAxNCAvUm9vdCA5IDAgUiAvSW5mbyAxMCAwIFIgL0lEIFsgPGE0N2Q2YWRmMDAzZTk3MmYzN2JjZTdiNTgzMmUyNTVmPgo8YTQ3ZDZhZGYwMDNlOTcyZjM3YmNlN2I1ODMyZTI1NWY+IF0gPj4Kc3RhcnR4cmVmCjk5NDMKJSVFT0YK
              (2) Invite with GwG identification:
                description: (2) Invite with GwG identification
                value:
                  name: Offer.pdf
                  externalIdentifier: file_offer-2025-001
                  signaturePositions:
                  - signer: crm-4711
                    pageNumber: 0
                    positionX: 120
                    positionY: 700
                  contentType: application/pdf
                  content: JVBERi0xLjMKJcTl8uXrp/Og0MTGCjMgMCBvYmoKPDwgL0ZpbHRlciAvRmxhdGVEZWNvZGUgL0xlbmd0aCAyNzUgPj4Kc3RyZWFtCngBpZI/T8MwEMV3f4pHoeAAdc7/UnsFsbBV8kaZIjEgdajy/SXOTuM0qFKFUAY79t393rvzETsc0b4OGv0AKt/Q8xEp48b/vNFaxUgdOhOUidGgP+AlwY8JvBhvOSIGeBtEOqBNyUAjfeED8qbBhpSHXN02+ER6x1sq3KsQwRBSROSQ+jOcdaRC53XG4Tfubn3fMFs+LGDiKmzpyGmntpHiBYSQe1ksGch9M5lbTxumk3KFz7ZZyBz9WGIs5FONEWPMc7nhrFpmrryZ7lTNyg3lyu3pgMoqpGbPJ2bVxdl/6vmyDdvgleuivzhYM1m1mX9ma2Vm9dVzteEa8Q9FMSuKdhqMmJ9annj6Hh/X7geHTo17CmVuZHN0cmVhbQplbmRvYmoKMSAwIG9iago8PCAvVHlwZSAvUGFnZSAvUGFyZW50IDIgMCBSIC9SZXNvdXJjZXMgNCAwIFIgL0NvbnRlbnRzIDMgMCBSIC9NZWRpYUJveCBbMCAwIDU5NS4yNzU2IDg0MS44ODk4XQo+PgplbmRvYmoKNCAwIG9iago8PCAvUHJvY1NldCBbIC9QREYgL1RleHQgXSAvQ29sb3JTcGFjZSA8PCAvQ3MxIDUgMCBSID4+IC9Gb250IDw8IC9UVDIgNyAwIFIKPj4gPj4KZW5kb2JqCjggMCBvYmoKPDwgL04gMyAvQWx0ZXJuYXRlIC9EZXZpY2VSR0IgL0xlbmd0aCAyNjEyIC9GaWx0ZXIgL0ZsYXRlRGVjb2RlID4+CnN0cmVhbQp4AZ2Wd1RT2RaHz703vdASIiAl9Bp6CSDSO0gVBFGJSYBQAoaEJnZEBUYUESlWZFTAAUeHImNFFAuDgmLXCfIQUMbBUURF5d2MawnvrTXz3pr9x1nf2ee319ln733XugBQ/IIEwnRYAYA0oVgU7uvBXBITy8T3AhgQAQ5YAcDhZmYER/hEAtT8vT2ZmahIxrP27i6AZLvbLL9QJnPW/3+RIjdDJAYACkXVNjx+JhflApRTs8UZMv8EyvSVKTKGMTIWoQmirCLjxK9s9qfmK7vJmJcm5KEaWc4ZvDSejLtQ3pol4aOMBKFcmCXgZ6N8B2W9VEmaAOX3KNPT+JxMADAUmV/M5yahbIkyRRQZ7onyAgAIlMQ5vHIOi/k5aJ4AeKZn5IoEiUliphHXmGnl6Mhm+vGzU/liMSuUw03hiHhMz/S0DI4wF4Cvb5ZFASVZbZloke2tHO3tWdbmaPm/2d8eflP9Pch6+1XxJuzPnkGMnlnfbOysL70WAPYkWpsds76VVQC0bQZA5eGsT+8gAPIFALTenPMehmxeksTiDCcLi+zsbHMBn2suK+g3+5+Cb8q/hjn3mcvu+1Y7phc/gSNJFTNlReWmp6ZLRMzMDA6Xz2T99xD/48A5ac3Jwyycn8AX8YXoVVHolAmEiWi7hTyBWJAuZAqEf9Xhfxg2JwcZfp1rFGh1XwB9hTlQuEkHyG89AEMjAyRuP3oCfetbEDEKyL68aK2Rr3OPMnr+5/ofC1yKbuFMQSJT5vYMj2RyJaIsGaPfhGzBAhKQB3SgCjSBLjACLGANHIAzcAPeIACEgEgQA5YDLkgCaUAEskE+2AAKQTHYAXaDanAA1IF60AROgjZwBlwEV8ANcAsMgEdACobBSzAB3oFpCILwEBWiQaqQFqQPmULWEBtaCHlDQVA4FAPFQ4mQEJJA+dAmqBgqg6qhQ1A99CN0GroIXYP6oAfQIDQG/QF9hBGYAtNhDdgAtoDZsDscCEfCy+BEeBWcBxfA2+FKuBY+DrfCF+Eb8AAshV/CkwhAyAgD0UZYCBvxREKQWCQBESFrkSKkAqlFmpAOpBu5jUiRceQDBoehYZgYFsYZ44dZjOFiVmHWYkow1ZhjmFZMF+Y2ZhAzgfmCpWLVsaZYJ6w/dgk2EZuNLcRWYI9gW7CXsQPYYew7HA7HwBniHHB+uBhcMm41rgS3D9eMu4Drww3hJvF4vCreFO+CD8Fz8GJ8Ib4Kfxx/Ht+PH8a/J5AJWgRrgg8hliAkbCRUEBoI5wj9hBHCNFGBqE90IoYQecRcYimxjthBvEkcJk6TFEmGJBdSJCmZtIFUSWoiXSY9Jr0hk8k6ZEdyGFlAXk+uJJ8gXyUPkj9QlCgmFE9KHEVC2U45SrlAeUB5Q6VSDahu1FiqmLqdWk+9RH1KfS9HkzOX85fjya2Tq5FrleuXeyVPlNeXd5dfLp8nXyF/Sv6m/LgCUcFAwVOBo7BWoUbhtMI9hUlFmqKVYohimmKJYoPiNcVRJbySgZK3Ek+pQOmw0iWlIRpC06V50ri0TbQ62mXaMB1HN6T705PpxfQf6L30CWUlZVvlKOUc5Rrls8pSBsIwYPgzUhmljJOMu4yP8zTmuc/jz9s2r2le/7wplfkqbip8lSKVZpUBlY+qTFVv1RTVnaptqk/UMGomamFq2Wr71S6rjc+nz3eez51fNP/k/IfqsLqJerj6avXD6j3qkxqaGr4aGRpVGpc0xjUZmm6ayZrlmuc0x7RoWgu1BFrlWue1XjCVme7MVGYls4s5oa2u7act0T6k3as9rWOos1hno06zzhNdki5bN0G3XLdTd0JPSy9YL1+vUe+hPlGfrZ+kv0e/W3/KwNAg2mCLQZvBqKGKob9hnmGj4WMjqpGr0SqjWqM7xjhjtnGK8T7jWyawiZ1JkkmNyU1T2NTeVGC6z7TPDGvmaCY0qzW7x6Kw3FlZrEbWoDnDPMh8o3mb+SsLPYtYi50W3RZfLO0sUy3rLB9ZKVkFWG206rD6w9rEmmtdY33HhmrjY7POpt3mta2pLd92v+19O5pdsN0Wu067z/YO9iL7JvsxBz2HeIe9DvfYdHYou4R91RHr6OG4zvGM4wcneyex00mn351ZzinODc6jCwwX8BfULRhy0XHhuBxykS5kLoxfeHCh1FXbleNa6/rMTdeN53bEbcTd2D3Z/bj7Kw9LD5FHi8eUp5PnGs8LXoiXr1eRV6+3kvdi72rvpz46Pok+jT4Tvna+q30v+GH9Av12+t3z1/Dn+tf7TwQ4BKwJ6AqkBEYEVgc+CzIJEgV1BMPBAcG7gh8v0l8kXNQWAkL8Q3aFPAk1DF0V+nMYLiw0rCbsebhVeH54dwQtYkVEQ8S7SI/I0shHi40WSxZ3RslHxUXVR01Fe0WXRUuXWCxZs+RGjFqMIKY9Fh8bFXskdnKp99LdS4fj7OIK4+4uM1yWs+zacrXlqcvPrpBfwVlxKh4bHx3fEP+JE8Kp5Uyu9F+5d+UE15O7h/uS58Yr543xXfhl/JEEl4SyhNFEl8RdiWNJrkkVSeMCT0G14HWyX/KB5KmUkJSjKTOp0anNaYS0+LTTQiVhirArXTM9J70vwzSjMEO6ymnV7lUTokDRkUwoc1lmu5iO/kz1SIwkmyWDWQuzarLeZ0dln8pRzBHm9OSa5G7LHcnzyft+NWY1d3Vnvnb+hvzBNe5rDq2F1q5c27lOd13BuuH1vuuPbSBtSNnwy0bLjWUb326K3tRRoFGwvmBos+/mxkK5QlHhvS3OWw5sxWwVbO3dZrOtatuXIl7R9WLL4oriTyXckuvfWX1X+d3M9oTtvaX2pft34HYId9zd6brzWJliWV7Z0K7gXa3lzPKi8re7V+y+VmFbcWAPaY9kj7QyqLK9Sq9qR9Wn6qTqgRqPmua96nu37Z3ax9vXv99tf9MBjQPFBz4eFBy8f8j3UGutQW3FYdzhrMPP66Lqur9nf19/RO1I8ZHPR4VHpcfCj3XVO9TXN6g3lDbCjZLGseNxx2/94PVDexOr6VAzo7n4BDghOfHix/gf754MPNl5in2q6Sf9n/a20FqKWqHW3NaJtqQ2aXtMe9/pgNOdHc4dLT+b/3z0jPaZmrPKZ0vPkc4VnJs5n3d+8kLGhfGLiReHOld0Prq05NKdrrCu3suBl69e8blyqdu9+/xVl6tnrjldO32dfb3thv2N1h67npZf7H5p6bXvbb3pcLP9luOtjr4Ffef6Xfsv3va6feWO/50bA4sG+u4uvnv/Xtw96X3e/dEHqQ9eP8x6OP1o/WPs46InCk8qnqo/rf3V+Ndmqb307KDXYM+ziGePhrhDL/+V+a9PwwXPqc8rRrRG6ketR8+M+YzderH0xfDLjJfT44W/Kf6295XRq59+d/u9Z2LJxPBr0euZP0reqL45+tb2bedk6OTTd2nvpqeK3qu+P/aB/aH7Y/THkensT/hPlZ+NP3d8CfzyeCZtZubf94Tz+wplbmRzdHJlYW0KZW5kb2JqCjUgMCBvYmoKWyAvSUNDQmFzZWQgOCAwIFIgXQplbmRvYmoKMiAwIG9iago8PCAvVHlwZSAvUGFnZXMgL01lZGlhQm94IFswIDAgNTk1LjI3NTYgODQxLjg4OThdIC9Db3VudCAxIC9LaWRzIFsgMSAwIFIgXQo+PgplbmRvYmoKOSAwIG9iago8PCAvVHlwZSAvQ2F0YWxvZyAvUGFnZXMgMiAwIFIgPj4KZW5kb2JqCjcgMCBvYmoKPDwgL1R5cGUgL0ZvbnQgL1N1YnR5cGUgL1RydWVUeXBlIC9CYXNlRm9udCAvQUFBQUFDK0NhbGlicmkgL0ZvbnREZXNjcmlwdG9yCjEwIDAgUiAvVG9Vbmljb2RlIDExIDAgUiAvRmlyc3RDaGFyIDMzIC9MYXN0Q2hhciA1MiAvV2lkdGhzIFsgNDU5IDQ3OSA3OTkKNTI1IDIyOSA0OTggMjI2IDMwNSAyMjkgNTI3IDM0OSA1MjUgNTI1IDQ1NSA1NzkgNTE3IDI1MiAzMzUgNDcxIDI1MiBdID4+CmVuZG9iagoxMSAwIG9iago8PCAvTGVuZ3RoIDM0OCAvRmlsdGVyIC9GbGF0ZURlY29kZSA+PgpzdHJlYW0KeAFdkstugzAQRfd8hZfpImKAPBoJIVWpIrHoQ6X9ALCHyFIxliEL/r53nDSVujiL4/F4PGOnx/q5dnZW6XsYdcOz6q0zgafxEjSrjs/WJVmujNXzzeKaHlqfpEhulmnmoXb9qMoyUSr9QMo0h0WtnszY8YOsvQXDwbqzWn0dm7jSXLz/5oHdrCipKmW4x3EvrX9tB1ZpTF3XBnE7L2tk/e34XDwr3AgZ2fVKejQ8+VZzaN2Zk5KoKk+nKmFn/oVyumZ0/W1rnlWlQLQtqqTMcygg2mWiBRRAjegGCoj2JLqFAkS16A4KoFvRPRQQ5XHzIxQgupPoAQqgB9EWCqC9aAcFKJSLaihANKqBAihLlKEA2on2UEC0kRYKzEJAg3KNAr0KiErdAr0KKLQRRa8CjtqLolcBLaAQpvk7NhmsfID7g+lLCHir+EviM8rzWMf3j+RHLwdEfgBcK62sCmVuZHN0cmVhbQplbmRvYmoKMTAgMCBvYmoKPDwgL1R5cGUgL0ZvbnREZXNjcmlwdG9yIC9Gb250TmFtZSAvQUFBQUFDK0NhbGlicmkgL0ZsYWdzIDQgL0ZvbnRCQm94IFstNTAzIC0zMTMgMTI0MCAxMDI2XQovSXRhbGljQW5nbGUgMCAvQXNjZW50IDk1MiAvRGVzY2VudCAtMjY5IC9DYXBIZWlnaHQgNjMyIC9TdGVtViAwIC9YSGVpZ2h0CjQ2NCAvQXZnV2lkdGggNTIxIC9NYXhXaWR0aCAxMzI4IC9Gb250RmlsZTIgMTIgMCBSID4+CmVuZG9iagoxMiAwIG9iago8PCAvTGVuZ3RoMSAyMTQyOCAvTGVuZ3RoIDExMDU2IC9GaWx0ZXIgL0ZsYXRlRGVjb2RlID4+CnN0cmVhbQp4AdV7d1iUV9r+eadXZgYY2gAzMAyIQ1FAigWGXlUQRkFFqbZg70YNUdNITNm0NckmZjeJ2TVlGDWiaSZr6q5JNnVT12xLJWU3yaYJ333eZw5istnvj9/1u679hrnnvk973nOeU993hg3rNvYyI+tnSjape2XnGia/ivpBvu5NG1xykKVWMKZ+aMmapSspnAEye5f2bV1C4aKPGYu9a1lvZw+F2ffg/GWIoLCUB05ZtnLDFgoXcQMtfau7Q+lFJxDOWNm5JXR99hbCrlWdK3vBeDVfhw/XmnW9oXSpFeY+kpP+04eERDvrYGo5k4JZWTa7hLHwfMUUOYana3Jzb9f/4sxiy/QvWaxOjn7wo+2/5+KVGwaWfPftmX79x7p8BPVMISczhnLaW8+8wZhh/3fffrtf/zGPOedlH9QrS5sVTyueZIXMqXgqxG+zQsUbzK94Hfwa+I8hfhX8CsIvg18Cvwj+A/hR8CPgh8EPMT9TKd5keUALoBxTPQjdAbwMqNl5sCQxI8pLLFLxOKsAeoANwHWAGnkfQdodsCgxl2LPYX2MVOcaUuwWYpcQFwrRL8QFQuwUYocQ24U4X4htQmwVYosQm4XYJMRGITYIsV6ItUKsEWK1EKuEWClEnxDnCbFCiOVCLBNiqRBLhOgVokeIbiG6hOgUokOIxUIsEqJdiIVCLBBivhBtQrQKMU+IuUL4hWgRolmIOUI0CdEoxGwhZgkxU4gGIeqFqBOiVogaIaqFqBKiUogKIcqFKBOiVAifECVCFAsxQ4jpQkwTYqoQRUIUClEgRL4QU4TIEyJXiBwhJgsxSYhsIbKEyBQiQwivEBOFSBdighBpQqQK4REiRQi3EMlCJAnhEsIpRKIQCULEC+EQIk6IWCFihIgWIkoIuxCRQkQIES6ETQirEBYhwoQwC2ESwiiEQQi9EDohtEJohFALoRJCKYRCCEkIFhLSqBAjQpwR4nshvhPiWyG+EeJrIf4lxFdCfCnEF0L8U4h/CPG5EJ8J8akQnwgxLMTHQnwkxIdCfCDE+0K8J8TfhfibEH8V4i9C/FmId4U4LcSfhHhHiLeFeEuIN4V4Q4jXhfijEK8J8aoQrwjxshAvCfGiEH8Q4gUhnhfiOSFOCfF7IX4nxLNCPCPE00I8JcSTQjwhxEkhfivE40I8JsQJIR4V4hEhHhbiISEeFOK4EMeEGBLiqBAPCHFEiMNCHBIiKMSgEAEh7hfiPiHuFeIeIQ4K8Rshfi3E3UIcEOIuIe4U4g4hfiXEL4W4XYj9QtwmxK1C/EKIW4S4WYibhNgnxM+FuFGIG4S4XojrhLhWiJ8JcY0QVwtxlRBXCrFXiCuEuFyIASEuE+JSIS4R4mIhLhJijxC7hdglxIVC9AtxgRA7hdghxHYhzhdimxBbhdgixGYhNgmxUYgNQqwXYp0Qa4VYI8RqIVYJsVKIPiHOE2KFEMuFWCbEUiGWCNErRI8Q3UJ0CdEpRIcQi4VYJES7EAuFWCDEfCHahGgVYp4Qc4XwC9EiRLMQc4RoFGK2ELOEaBCiXog6IWqFqBGiWogqISqFqBCi/BA/LQ8p9gQTi504MwcT7aBdFLowmDgVoX4KXUC0M5hoQuQOCm0nOp9oG9HWYEIpsmwJJpSDNhNtItpIaRsotJ5oHUWuDSaUocAaotVEqyjLSqI+ovOC8ZXIuYJoOdEyoqVES4LxFcjSS6Eeom6iLqJOog6ixUSLqFw7hRYSLSCaT9RG1Eo0j2gukZ+ohaiZaA5RE1Ej0WyiWUQziRqI6onqgo5atKGWqCboqEOomqgq6KhHqDLoaABVEJUTlVFaKZXzEZVQuWKiGUTTKec0oqlUvIiokKiAKJ9oChnLI8olKzlEk4kmkbFsoiwql0mUQeQlmkiUTjSBKI1MpxJ5yGYKkZsomUwnEbmonJMokSiBKJ7IQRQXjJsFZ8USxQTjZiMUTRRFkXaiSIqMIAonslGalchCkWFEZiITpRmJDER6StMRaYk0wdhGXF0djG0CqYiUFKmgkETEZJJGiUbkLNIZCn1P9B3Rt5T2DYW+JvoX0VdEXwZjWpxD0hfBmGbQPyn0D6LPiT6jtE8p9AnRMNHHlPYR0YcU+QHR+0TvEf2dsvyNQn+l0F8o9Geid4lOU9qfiN6hyLeJ3iJ6k+gNyvI6hf5I9Foweh6a8mowei7oFaKXKfIloheJ/kD0AmV5nug5ijxF9Hui3xE9S1meIXqaIp8iepLoCaKTRL+lnI9T6DGiE0SPUtojRA9T5ENEDxIdJzpGNEQ5j1LoAaIjRIeJDgWjStDoYDBqAWiQKEB0P9F9RPcS3UN0kOg3wSis+tKvycrdRAco7S6iO4nuIPoV0S+JbifaT3QbGbuVrPyC6BZKu5noJqJ9RD+nAjdS6Aai64muo7RrycrPiK6htKuJriK6kmgv0RWU83IKDRBdRnQp0SVEFwftnWj7RUF7F2gP0e6gfQlCu4guDNr9CPUH7dhspAuC9nzQTqIdVHw7lTufaFvQ3oMsW6n4FqLNRJuINhJtIFpPptdR8bVEa4L2blhZTcZWUc6VRH1E5xGtIFpO5ZYRLaWaLaHivUQ9lLObqIuok6iDaDHRImp0O9VsIdECavR8Mt1GF2olmkfVnUsX8pOVFqJmojlETcFIHxrWGIzkbp0djOQTdlYwcjdoZjAyE9RAWeqJ6oKROEhItRSqIaqmyKpg5E6kVQYjLwFVBCMvAJUHI/tBZcHwKlApkY+ohKg4GI5zgTSDQtODtjaEphFNDdr4PCoiKgzaqhEqCNpaQflB23zQFErLI8oN2jIQmUM5JwdtvGGTgja+IGUTZVHxTLpCBpGXjE0kSidjE4jSiFKJPEEb91IKkZtsJpPNJDLmIitOokQql0AUT+QgiiOKDVrbYTMmaF0Eig5aF4OiiOxEkUQRROFUwEYFrBRpIQojMhOZKKeRchooUk+kI9ISaSinmnKqKFJJpCCSiJhv1NLl5BixdDvPWHqc30N/B3wLfIO4rxH3L+Ar4EvgC8T/E/gH0j5H+DPgU+ATYBjxHwMfIe1DhD8A3gfeA/4ettT5t7Blzr8CfwH+DLyLuNPgPwHvAG8j/Bb4TeAN4HXgj+bznK+ZJztfBb9i7nO+bE51vgS8CP0Hs9f5AvA88BzSTyHu9+aVzt9BPwv9DPTT5hXOp8zLnU+alzmfMC91nkTZ38Le48BjgG/0BD4fBR4BHjatdT5kWud80LTeedy0wXkMGAKOIv4B4AjSDiPtEOKCwCAQAO43bnXeZ9zmvNe43XmPcYfzoHGn8zfAr4G7gQPAXcCdxkznHeBfAb9EmdvB+43nOW+DvhX6F8At0DfD1k2wtQ+2fo64G4EbgOuB64BrgZ+h3DWwd7VhlvMqw2znlYalzr2GO51XGA44L1J6nHuUhc7dUqFzl7/ff+HBfv8F/h3+nQd3+I07JOMOx476HefvOLjjzR2+cI1hu3+b//yD2/xb/Zv9Ww5u9h9XXMyWKC7yTfdvOrjRr9oYuXHDRuUXG6WDG6WKjdKkjZKCbbRudG1Umjb41/nXH1znZ+sa1/WvC6xTTQusO71OwdZJhqHRE4fWORKrwL7t68zWqrX+1f41B1f7Vy1Z6V+BCi4vXOpfdnCpf0lhj7/3YI+/u7DL31nY4V9c2O5fdLDdv7Bwvn/Bwfn+tsJW/zzkn1vY4vcfbPE3Fzb55xxs8s8unOWfhfiZhfX+hoP1/rrCGn/twRp/dWGVvxKNZ/HWeFe80sorMCseNWEOqWySw+c47fjMoWKOgOOEQxluiXPGKdItsVL57FhpdewFsVfFKi0xz8cofDHpGVWW6Oej/xT9abQqwhednlXFoqxRriilnbctamYLb9uhqJIK4slT5LY6o9ypVRa7ZLE77YrKT+3SxUwpuSSJSVaQUocyhyW7s0r5MKLwZRmTpKtZi7d+SMfm1Ad0jQsC0qUBTzP/9DXND2guDTD//AWtg5J0ZdugpChvCUTWN82n8EV797KEsvpAQnNrULl/f0JZW32gn2ufT9ajXDNkafMuWr9xvbfVN4PZTts+syntj1qftyosFsliGbUofBZU3hLmDFPwj9EwpS9sckGVxew0K/jHqFkZ5TMjhrsyzdTYUmUxOo0Kf4lxtlHhM5aUV/mMmZOqftTOQ7yddGXvhkXrvZAbvPIboTZpIw/ihRS8129AmP+BEGY85adflA35Fq/HSzZD5n+6yP+BFOn/QB3/y6s4yDBFWktHFXvwXeZuYBdwIdAPXADsBHYA24HzgW3AVmALsBnYBGwENgDrgbXAGmA1sApYCfQB5wErgOXAMmApsAToBXqAbqAL6AQ6gMXAIqAdWAgsAOYDbUArMA+YC/iBFqAZmAM0AY3AbGAWMBNoAOqBOqAWqAGqgSqgEqgAyoEyoBTwASVAMTADmA5MA6YCRUAhUADkA1OAPCAXyAEmA5OAbCALyAQyAC8wEUgHJgBpQCrgAVIAN5AMJAEuwAkkAglAPOAA4oBYIAaIBqIAOxAJRADhgA2wAhYgDDADJsAIGAA9oAO0gAZQA6rSUXwqAQUgAYz1SIiTRoAzwPfAd8C3wDfA18C/gK+AL4EvgH8C/wA+Bz4DPgU+AYaBj4GPgA+BD4D3gfeAvwN/A/4K/AX4M/AucBr4E/AO8DbwFvAm8AbwOvBH4DXgVeAV4GXgJeBF4A/AC8DzwHPAKeD3wO+AZ4FngKeBp4AngSeAk8BvgceBx4ATwKPAI8DDwEPAg8Bx4BgwBBwFHgCOAIeBQ0AQGAQCwP3AfcC9wD3AQeA3wK+Bu4EDwF3AncAdwK+AXwK3A/uB24BbgV8AtwA3AzcB+4CfAzcCNwDXA9cB1wI/A64BrgauAq4E9gJXAJcDA8BlwKXAJcDFwEWsp7Rf2gO1G9gFXAj0AxcAO4EdwHbgfGAbsBXYAmwGNgEbgQ3AemAdsBZYA6wGVgErgT7gPGAFsBxYBiwFlgC9QA/QDXQBnUAHsBhYBLQDC4EFwHygDWgF5gFzAT/QAjQDc4BGYDYwC2gA6oE6oBaoAaqBKqASqADKWc9/+TL93169tv/2Cv6X14/xY9nYwYxXNmbxIvzwSXsrYyPXnvMLqEa2gq1n/fi7mO1l17JH2Zusi+2G2sf2s7vYr1mAPcaeYa+dU+r/MTCyVb2SmZRHmYZFMDb67ejwyF3AkDpsXMy1CEWoXGdjRq2jn/wg7pORa0etI0OacGaQy5oVL8LaP6Uzo99iy9Uw82g+DysugbbIV/pce+vI/SMHzmlAI2ti89kCtpC141donWh/D1vGlsMz57E+tpKtkkOrkLYUeglCi5ELy4usz+Zazdaw1Wwd28A2sk34WwO9PhTiaWvl8Ea2GX9b2Fa2jZ3PtrMdoc/Ncsx2pGyTY7cgZSe7AD1zIdslK8EUs5vtYReh1y5hl7LL0GM/HbpsLNcAu5xdgX6+kl3FfkrvPSflanY1u4b9DOPhOnY9u4H9HOPiZnbLD2JvlONvYrey2zBmeInrEXObrG5gN7KH2JPsCLuP3c8ekH3ZDd+SR4RflsieXgMfbEebd4+rMXlz85i3dsIbvN0DoXZvgf92jSuxKeRH7r3dyMm9MxDqB25lRyhGeOJqtIz02XZyH/E2XHVOO0WJ/y2Wt5j76Rb4S3iG++wGxN30o9jxOcbrG9gvMANvxyf3Kle/hCZ1m6zHx986lne/nPYrdge7E31xgHElmGLuQtwBdjfm9m/YQXYP/s7q8YpS72P3yj0XYIMsyA6xw+jJB9hRNiTH/6e0+7F2/LDMoZCt4JiVY+w4exAj5BF2AivN4/gTMQ8j7tFQ7Ek5F4UfZ79lJ+VcPPVxjK2nsEI9y37Hfs+eZ08g9Jz8+TRCL7AX2UvsNckM9Qf2AT7PsBfUf2VhrBS3/8fRG7ewRfj7//hSx+HXrftHvx7dPPq1soYtkVpwgLwHvXSYXYEnE6vOXlpyMoPqzyySHR79SrkQPOHMG+plI78c/dQ3/+KLNqxft3bN6lUr+85bsXzZ0iW9PV2LF7UvXDC/rdXf0jynqXH2rJkN9XW1NdVVlRXlZaW+kuIZ06dNLSosyJ+SnZWZMSHVk+JOdsZE2qwWs9Gg12k1apUS5/OMSndVhyuQ2hFQpbprajJ52N2JiM5xER0BF6Kqzs0TcPFynUg6J6cPOZf8IKePcvrGckpW13Q2PTPDVel2BU5VuF1D0vymVui9Fe42V2BY1jNlrUqVA2YEkpJQwlUZs6zCFZA6XJWBqk3LBio7KjIzpEGjodxd3mvIzGCDBiOkESowwb1mUJpQLMlCMaFy6qCC6cz8sgGlp7KzJ9DY1FpZ4UhKapPjWLlsK6ApD2hlW67lAdSZXe4azDgxcMWQlXV1eE097p7Oha0BZScKDSgrBwYuCdi8gXR3RSB9219j4MDeQIa7ojLgdaNi9XPGLiAF1B6r2zXwJUPl3cMfo9bjYjpDMRqP9UvGE3kTx9wUkDqFZqgbaoj2JSXxulw+5GNdCAT6m1op7GJdjiDzZXvbAooOnnJCpNj9PKVfpIwV73DDs5Xuyo7Qe9OymEB/lyszAz0rvz0BlQfproAytaOrexnnzt4BdwVaCF+yltaArwLC1xlyZuXgpGzk7+xAI5ZzNzS1BrLdawKR7jLyNiJgxFO5vLlVLkKxlYHI8gDr6A6VCmRXoiyGSOUA7xheQW7L3dR6jOWOnh7MczkO5bI81sbrEYgqR6ekVg609iwJODscPRifS1ytjqSArw3ua3O39rbxXnJbA+mncTm80IFyKbTtB7lFZjQ7oPXoXK0Kh7KN9xYiXFX4cJdNR4I1oKEg79Gy6a5WycFENlwllIOrc+wgoPSU16AwGEXLaxxJGNzy6z9UyUENQDUCurE6qVAJ9dk60XV+smqUm1co3VXZWzGugucYRUCuYMjav6+ngvsi5AxUQce7s4a3ITNDAe1Csi6gQDvlKN6LMa4Aa3S1unvdbW6MIV9jK+8c7mu5f+ub3fzxqtzboVHSck6I0gspLcCS6ltaRYA/eQpUeeV+5d0qh6vl8Fiw5gfJtSIZ6w5rHBjoGWRKDx/KjkFJFuryy9sCs71t7kCX153E65mZMahjpqSWjnLM3iqsnO6qTrfL6qoa6Bwa7e8aGPT5BtZUdiybinkx4K7tGXA3t05H58oLwQ7HNl6XcFYv1beUwZSClQ26pUubBn3Spc3zW49ZGXNd2tIaVOBZc0dZ22AK0lqPufBfHnKsgsfySJ7FxQPc0hwEdHJ+xzEfY/1yqkqOkMPdQxKT4ygT4iTWPaSgOKucbzBVvpAP/zvRPaSiFJ+woEKcjuL6KfeEUG4dUqw85TjDRoKHf6gzvehJoM+g9ul8ep9JYVbApbxLgog5jrx6iR0ySWbJMQibaAGi8ZX0oN7nOCZboqjjUj9y8rh+WA9lUzCebZwhXJIa7geFWuCf33rIxGBf/kSOMv7CEhKzDGMMG02lq4ePv+1tywY62vjqwaIwVvGWApK7mAUU7mLUWGMKGNy9ZQGju4zHl/D4EorX8HituywgRUno7CEsugMdbizEmFOt+LqjDcPfyqe3wuMaGh1taU065RhuS8KcXwjMbw3ovdjo1J465Kvm6EB0daC/u5PXg/mxlvGlp7a7DZNdGESW2oAeFvQhC8hRJZfh8w2FujHWMCDl8v0IBPrbAm1eftHW5bxGLpc1wGrcUwOaVLKpTuUXym4bCHfn8JmLrAGD5xJOetSNNbdSjANBXAw7Cm+R1oSad7uR1N3hgtcxRpoxl2mzMPBxiJherPmq1F4ZBkcokfFmKT1GsyGgz4JBvLk2ZsEg3to2OIU3Xg5dEsqAa1sDRtQodZwrQwXgHSTV8rrgfQkqz7M+xs00DbE57i1Y+3ml5UtpkRwwe2o7sbtReSNi3IWiMGzpPDyK2zhJsVrechP8jiVhaPSAeytf4sQrM8PNdz8+/pjjGCYqaxv4YURggTczQ/fDWLMcPTCgM//7AuQvnXmMuRU0pJtva2A+4OTx5qrkG6y7blAxCznAkswDdW5sagoPBw46SkyfJFdPG8+FKjfKa5n7pzLBxFgmvk3Lxges0/iphIeQLocQwHsgsPTc4LKxYBWSq3AY9GQB8jsVHcPX/RWOQB9GJpLlLLxHXAMuq3uqm3+gqUrMBqAD/TQ2LTD8Mer4pOnvdrV2YbDDPVUdA1UDuIiruxPF+BgMXSmwynuOScwLCfMQDuFeCPQ3ujraXB04mkpNrUlJDsxGsGtJZ8Dn7uRbQSOuj3cjtiRQ5wAf4qwNF3UEtNiYlnT2upOw4SCuTfar3D+4Ok0b5hgYcA8E5IWgCplhPhXTrpYT3mu87s5efoTG9VydvXLZKlRX9g6vn6PSjbnci9pyv6Nd+O8v1sU/ugfcsNbe4YUnbAPhA66iASzB7dg9VKndczuwVfEdySV3dacDIfi1lofaYIgy6j08I00BXpuV3sF2redsDJ+LgdVeyqyTraJmc1oDjaKQPJ94rrXegCK6EImoaUCag5UN/ufrFJyn9tTCvT4MPQcv7QoosL1S98jla3lRLA3UYVQMMfImIk8xbJJitxH70EIHfPqT8UwVxhge1zPV7cytULF7VMnsHuW9rFr5CluoymP7lN+xdsVa5lGeZFPwyP8i5a/YPvA+TQ/bx9NVhWw+Z8WzwH0sCV9q3IjJLX9hDDbhWVIOOAn3Z2roMGZjZqZDuh7/oWll4UyLZ00m7EMq/PNfBDMgH389yh6V+qRHFfXKYpVV9bj6Qk2UNlV7j86v26+/2VBseNt4hSnKdLfpJVhlI+uVL+KJlhK2ithMNovdGLjI2/oQ9rM5LIpNlY4csVdU6DK1j0jluJALz6tRAancZ1EpzEfj4krcR6do9ipttUNS5uES7V58E1Ny5p0zz2WfeWc4vCh7WMp++9133rV+/pytKDv33ZffnYxv5iPjzEf7UHSK+2jfFKVmb5/SVsLL+/R9JT6Fdm8fjMSUeOOe8z6X7X3OCzPeSZPbJFuSTUZkmEKrjdS4k7MUU9JS83Nzc4oVU/JS3clhCjkuL7+gWJmbk6hQIifFFCt4WFK++P185ewzGsVOd8ncXHVinCXSrFEr4mPCM6d7rM0LPNOzErRKrUap1mknFJQl1/dVJr+htSXYoxLCdbrwhCh7gk175k112Lf/UId9V67q++46pWbawpIU5c8NOoVKoxlKjImdOC2pdq4lwqoyRlhtUTptuM00oWLhmYvt8dxGvN1Ots7MhDvdo9+qdqojWTJLZW9xvx9jKaPvHzZZpQb3UEikDo1+dtiIGKMQ+M3FZ744HuWx8k+z/GmSP30TJA9PzjBKM1PcqZ4vTEZTTHKC22CWolQmZrKaFPe7H3U/71a6TW5TeMKccL/az0pKSsKLirKz29tt0UU2SFuudTjHljt5kuRtp0fQ+KLe4UuESZPni77xNsfbiRGGxsx4YQWd54mK0sg9lqZMUoYp3cmpqfkFEnVTtNatTFJt1ElWj9PpidCrVp/5+wqlIcIdn+CxSDopqDLHpiW6JsaFqc6X/iQ9PiPKEaZSak16adrIM3qzXqUOc0SpgsYwnVKpsxj3njkfM+Se0W+lVnjWzjq5X4+WRM+Ovj9ayeDVQ1ZpJvizQ5YQm2X+CodEHv/+IbiOHVfYmGH0xFG7NNNgnSO7SMr2viv7YvKkdschORLt5Y0T48yWRwPNLrXqIpNiY5IjdXp7UnRsUqQuTmfSqtVak071hlDof9RS+RRmXzxLZ7fxeg6maEI1BMs1lBk1BMs1lNNRQ82QwuaLtiXEoDUJVjQlwWoySw0JLqQlDClygszmGZIMhzQak3tIMh6yN5l4P4cm5ctyS6zUnhxMykENz32kD9ntPP/hPrkAGjg2/3gr3bazbc3PTcpJVGnzsng0n4TKp3yb791yrT4iKZY3eWKcZJ84c/nKhvQj0+a1Z9x286ylVSnKaztvWTV9JEs4QfWbCcna6JKFW+fNXpEXduabCdXd6L3q0WFltzqJ1UoTaFaUYjJYMNRLuVfgDZnRcpnRb2C530qHFBk+b44vIlJqyPHZMAdyUnJMjhhe1mFFQYcVpRxWFHHEwFOO4/jim+HnPQ65708cig1xJPEDFhu+iTNlPSilsQJmkFJ9RpurQCrwGU1Sg43/TsbAVYGtwBY1fUgyHSl1qNObo4ak9EH1XFYyzKfVsI1PLa+33TpsxXr4Mh9D5Hh5zokA74SCrCEpLdhnMwxJqUf7ZKvp3OzRPtmumhsO9sEylkdu2hsyzZdH6hjVlNAYpFUxSxMKa+yhjuPLpD0yUaPsLt98e3vp6nnToo0qnUkXltu4tq6wvTwlZ87yVcvm5E5bfk2Ld97M6REalUKpMWqN2RXtU/Mb8+JymlesWtGcK5234MrunChXcozHieVRmzzBnVjQmFswa9rk3OKWtbObLpibaYl1RhhtMRHh8RH6eHdCwqQyT/6s6Tm5M5rXMoz+hejlEuWzLBdH2a94P/tcljJnWXaZ0qiPzjOhj/J4l+Xxjsqz8i7MG5L+5QtjaWkWJpkYH/VsKh8RyAp+n48MmVGAszxkpg4pdL5IW/QTLM+ap5h2Ik9ieVJeXlbpxCHJ4bO8kCwlJ6sSPsyqm/GWaaaKZaPT+CRpH8Y6mN2+dlE7+kzurpPeRe1F2TRncoomT1rU7vCZjdFSXvQTfdxesmwwqo8lY6mFzayED/uy6kwz3urjdmOy0WV8LuFRqpeb9rbLSwdfFlNTp0yh5VHurdwpfE6NbWfFKr552bXUc1G5OfkFyhJrvCPOGTbtmqbq9U2ZxRvuXr49avKsohmdtZNNOpNepXWUzV2S13lpS+odeyt6ypxtjaWrZ8SYTJjepvklVZ6qJaUNa+o8VXmNUxwJ7gSdNdYSmxDnTojI8O9sORmdWZJe1VxWgT7ahz56Rb2WTWQz2AO8j46UlEiGpPzQagSW5yNYnn88LHs9f0j62uewe8PRNV4X+sXLe9HLVysv7zfvkMLg0zO7IX9Kkko9aUhSP5Ba56iyNhRBDqpn8rnDV6voIswYmi1nPd/uOErlUnlBHBuoqJqXxfSYKU8PvnJFF52dGYo0MQWmjK3TNtqB5DUM/tbaouBeLGSv5HZf3e6trapK04U77JHx4RpthCsm1hWum1BfUzOh6/J5E+6z5831uYp9lWkV28uLWwtipfc2PrinypY6NX0VFjeVCmu9uhATS8Vn15m/pRe6rbN2BzZW7uqZET6xLGdkX/O86d3n83nQDh/vwzzw4vHih/I8mJidX5K/Ol8ZwT0X4YK/IiKSMviqlcHdmMGnRYY8IzKGpG+OVHjv8Cq8cP0R7tk81dDoaT4VwJ/wqSGHUQxMU0LFnZ+UlPFUv+pqleKESnpBJalU8dlvpdbFfNgRtiZMEab/MB59cObl9tBsWLtOTIOct73tcofwMezle6EvWZXxVN8m2UZq9lvojbCYD/tYmBW/M1SGxes/7IMtrFgn+dCX50C7fKDDGS4pMhFHs9CuGRlGhzqxi6bly4c6rXJfWuyZYGLVmiZfT222SWvUKBVKrTF/7lrf6gPrpk5fu797xfUdmXcpt26esbA4WaFQpCXVb5mbZY+za8Niw80RFpMxNiaieNvQtg3HLqysWH9za8Su67Iaegv4WduDb3AvVm9h09ml3PfBKCsOAacPw1/MERrdnOVRDSFvwmB5uDvg/eCkiThxveALt2Kr8BiG86vjUocn1bgarDX8XDWcUwLPeU/mfs7X/ZPe3JP8CGzLNwz3Ieek1OG+UF5+dvLmlJBnsNXieCvPeLs8++GrcXsvlgyxUsi+UykuVql1Gq09Md3hyXOFPaMz6tXhlmd0GLUxrgjdBVYrH4UXuGtW1rnLUkw6pdoSER2m1hv1MblNU7u0triIFNf3H+mMfLgadUq7KyUizqZtX3TJ3HSzxRThYLhDmDJyrfIy5dOsGHcJi6UoeaTawzOr+Xyu1mGgVbusEVJDdW7J0OjXfOCB5TMM+PQDPKlEOxvSZ7aESw2zHSrLJGWuVstHK9+U+W5qhsjM1Toc2txMFe8HXx7viFZ+iVaXFcVaJ3p8RrDHMkmrLKx7w9T8vt3eUaj8YHrNRFfZ64V1C153zearBxbxEnkNH36VlhFv7ineAdHYjPl2bMPqYD3lxdsrPnjPpMl2TXVv9Jns9ub3+7jx6coP+rj5wrLX+wrrXAte78Ml+BaM9byEFnPrk2OrDXoqKorWmtQ0DTbeqOjoROXY4oPRXYAFH3cp/JN3X1R0Uk6URHcwyM3nQ0RealpaGArRenRZhOVCd3xOe/+sgm5HeHRp/kfla+Zk5Z1319qV+7oyrEmTXZOzczzOlLyFFzakVzslq802MtLbPqk6O7p3weSa7OjmxU0fuNJj9Hs21fcWO5Qb3M6UedmztjRnJESFZyW6sxQGRdKMtmnFa/yTPb62vKTiwtzY2IaMGR2pnvaymdtaMvW6pJHPFy51FdZOaFviLKg5s2hqiUIXm5k+wV5anjCpmK9jF+HM3aTOxpk7iR3go+NoiXu2e7VbGcWnCxYksDx95HCEHJa7HmF5nMjx6O+oB3HXHM/stLfgZ9hyKbA86cA0G+3YYx4wOH0YG/j3i+LDsdZadQPm3KvD3tCWHdo55FVqMJZnOtJHuTDbnuRT7cdn9wh+a8n7Bx0jFevCXbGYQVqx/kdkTJvq5Ygdmyt7+Kke00srTZo6Mb0IwKqyDyf77dg389gheZ6YSvKl9MnSZF+4NHMylgt5OYGQF2rwh3y+yGG0f/KD+JllMjOF2mni7oH7wLIjwLIjTHyPjYvKzGTcBcwHCywq2aieUBtfZWuQXSHf10nZJ71enFzkFSjnNF+HuEewcBvH5+YLED9UjvNKmjTuvB9apW2h2zZ7pEYrSVFRyu26iOQ4hzvGohnZ80N3SS268NjkmNhku95sGTkurTIbcSekw+2bWS/9Y8QsnHh2p/z+RWmTwaxXYoHXm2KsI8dHPDY7X6fhUakYHrWzJhpbuKNbLd/Ryc7BYiE7Z+wOTowSBi8dNlirZH+ExgXdwfEoNHpce8+eDH7c82MdfrauVCv1C9i7G6VEuZ8d4VZ0YATfpVOt/NYgLYZ/rpkjVUWEagiWuw/8GV/4ZEYHgj/k3RzBuzUxMQoyMTHHYEC3GviGb+BGDfKuj/uDb4428vubxuK0kFmwbBYsm5UZZmVG8bQH8evXHGaVNMH6upQhSeMzl9YVV2UW1mY2xI4bLXzpDLnJW/Qy3ang4U3olgXn3nb5N/uOwXorjBzuq68rla2F9Z1rTgwnvkye62K+sWm040bWjyJCQ82ej0mYqIimU5pd/QKGF05hEbrIjIqsovWVfHuLTorQRmWUZxVtqBCDTxMeHx2VYNU2XFVb2FYxyZrZVF+dMm9TrXOsCxXuokUVKa3+M5eLAfjjGOUebKJKpd6o2+yfHZddOmFyxcSIGUsuawjN7v3o9Rw2JPe6hXqdd31JnjTx3/SsPEYRL49RcGgE8ENyopHfkxp5Fxv5PmfkPW7knW3ESDhK8zqRO9tnyKybGJtSK7qL73AS9rLx52NvqIccg5lyEWPfuDK8T/iW9b/0x7nutyv3k9/DdTFZtZOKt//Y0TfOnH9+Q9JZ91pm/sC95zgTTuzg+8V8nHvfgRcjWBp7RvZjfEm6NCFcSrdJqWYp1SSl6qRUrTRRKaUrpETuNDgKLG8WYHnxBMunXDkdTkvkh9vEbINkiOR3G5HcpZH8HB3J70UiuV8jj+Mn5bjrP2phM9egO2OHJCloqcNzD0Xo1gNubQ+5NZtOu/KK2U4vx6CFFzncZ6lT80Jj9xzjD2+hG2+FuLnATbd81FW+M3X9vetW37kqv2j9PevBBfc5ilfMrl1ekeQoWTG7ZkWFS/rbqmMX15ftPLwOXAfeXrurqyhv8a6Zdbs6i/IW7eLe2zdynfIVeI/fmQ1y7/E7s6R8/nCQryJgeazxsLzZQMiDDmvH175oO92Uybdn8tMRuj/7t3dltdbZP3lX9p9vylDyf7spG7cMiGH30zdlP1s0oaLUlzJuokfaHeHa9IaZTZldA/ymLFe+KatKq9hWXtxWECd9sOmh3dXW5Dz3SLG4F1N9gDmNR4VG/daJxen2hj33b6y8sGd6RHr55JGb8BV6z3aa4YoD8G4uu5j79vCaKVKqJeRSsOxJMLmWC+5zC3dtOPPhaMP44sz4sGNx8LjHp/fWpVrsrlo7P6Fgl+UzF9syDTI+Zx2DXjmjoe9sTsxXnnX8sOL3BOPXznOcplEcUGj0Ol10Qoo9dtKUqe5xnpKXRE/p1KIEc1JKgkmllJRdUYk2vV6vi8xqKDgTEEvh2bm6O78izaLUGQz6MAd8kjT6qWKl6l42lV0m+ySd2dyZvOmYYTKjtWB52IHl2Sozplwmd40p2pw57K5JMA9H10weklSDWvk+f/gUd0YurWI5p07y55E+mB7uQ95oX7R5uC+6RssLBPtQQj54x1lPiWVMJT/jt/3wnkhhH3/nJJ+j+WaiWKmzutKzoqt6fAk7LeFqnVm3Qxzu3uOPTsIt7xVUR6fER+rUerVqQUKyNUyv8dSvn6UIo5uiV/HoWaXSm7Sv0m3TiKF9sd6gV4fFwEc3jv4L/zpwGt/PpHMfDTI8rz3xABYejV6Jnj+FW8HH0LxDeh+CMSVxp+SleNyJc1V28fQsjpXV2VmVgPyVDiyHA/zFvwdipfxV7i3v7FvetW75/wDUW+g8CmVuZHN0cmVhbQplbmRvYmoKMTMgMCBvYmoKPDwgL1RpdGxlIChNaWNyb3NvZnQgV29yZCAtIFNhbXBsZSBmaWxlIGZvciBibGluayBBUEkgaW50ZWdyYXRpb24uZG9jeCkgL1Byb2R1Y2VyCihtYWNPUyBWZXJzaW9uIDEyLjUuMSBcKEJ1aWxkIDIxRzgzXCkgUXVhcnR6IFBERkNvbnRleHQpIC9DcmVhdG9yIChXb3JkKSAvQ3JlYXRpb25EYXRlCihEOjIwMjIxMTEwMTMyOTM4WjAwJzAwJykgL01vZERhdGUgKEQ6MjAyMjExMTAxMzI5MzhaMDAnMDAnKSA+PgplbmRvYmoKeHJlZgowIDE0CjAwMDAwMDAwMDAgNjU1MzUgZiAKMDAwMDAwMDM2OSAwMDAwMCBuIAowMDAwMDAzMzI3IDAwMDAwIG4gCjAwMDAwMDAwMjIgMDAwMDAgbiAKMDAwMDAwMDQ4MyAwMDAwMCBuIAowMDAwMDAzMjkyIDAwMDAwIG4gCjAwMDAwMDAwMDAgMDAwMDAgbiAKMDAwMDAwMzQ2OSAwMDAwMCBuIAowMDAwMDAwNTgwIDAwMDAwIG4gCjAwMDAwMDM0MjAgMDAwMDAgbiAKMDAwMDAwNDEyOCAwMDAwMCBuIAowMDAwMDAzNzA3IDAwMDAwIG4gCjAwMDAwMDQzNjQgMDAwMDAgbiAKMDAwMDAxNTUxMCAwMDAwMCBuIAp0cmFpbGVyCjw8IC9TaXplIDE0IC9Sb290IDkgMCBSIC9JbmZvIDEzIDAgUiAvSUQgWyA8NmFkMGE5OTdlMDk0OGIwYjg4YzFjMWU3ZGI5OTdhMWY+Cjw2YWQwYTk5N2UwOTQ4YjBiODhjMWMxZTdkYjk5N2ExZj4gXSA+PgpzdGFydHhyZWYKMTU3NTkKJSVFT0YK
              (3) Delegated signing:
                description: (3) Delegated signing
                value:
                  name: Offer.pdf
                  externalIdentifier: file_offer-2025-001
                  signaturePositions:
                  - signer: crm-4711
                    pageNumber: 0
                    positionX: 120
                    positionY: 700
                  contentType: application/pdf
                  content: JVBERi0xLjMKJcTl8uXrp/Og0MTGCjMgMCBvYmoKPDwgL0ZpbHRlciAvRmxhdGVEZWNvZGUgL0xlbmd0aCAyNzUgPj4Kc3RyZWFtCngBpZI/T8MwEMV3f4pHoeAAdc7/UnsFsbBV8kaZIjEgdajy/SXOTuM0qFKFUAY79t393rvzETsc0b4OGv0AKt/Q8xEp48b/vNFaxUgdOhOUidGgP+AlwY8JvBhvOSIGeBtEOqBNyUAjfeED8qbBhpSHXN02+ER6x1sq3KsQwRBSROSQ+jOcdaRC53XG4Tfubn3fMFs+LGDiKmzpyGmntpHiBYSQe1ksGch9M5lbTxumk3KFz7ZZyBz9WGIs5FONEWPMc7nhrFpmrryZ7lTNyg3lyu3pgMoqpGbPJ2bVxdl/6vmyDdvgleuivzhYM1m1mX9ma2Vm9dVzteEa8Q9FMSuKdhqMmJ9annj6Hh/X7geHTo17CmVuZHN0cmVhbQplbmRvYmoKMSAwIG9iago8PCAvVHlwZSAvUGFnZSAvUGFyZW50IDIgMCBSIC9SZXNvdXJjZXMgNCAwIFIgL0NvbnRlbnRzIDMgMCBSIC9NZWRpYUJveCBbMCAwIDU5NS4yNzU2IDg0MS44ODk4XQo+PgplbmRvYmoKNCAwIG9iago8PCAvUHJvY1NldCBbIC9QREYgL1RleHQgXSAvQ29sb3JTcGFjZSA8PCAvQ3MxIDUgMCBSID4+IC9Gb250IDw8IC9UVDIgNyAwIFIKPj4gPj4KZW5kb2JqCjggMCBvYmoKPDwgL04gMyAvQWx0ZXJuYXRlIC9EZXZpY2VSR0IgL0xlbmd0aCAyNjEyIC9GaWx0ZXIgL0ZsYXRlRGVjb2RlID4+CnN0cmVhbQp4AZ2Wd1RT2RaHz703vdASIiAl9Bp6CSDSO0gVBFGJSYBQAoaEJnZEBUYUESlWZFTAAUeHImNFFAuDgmLXCfIQUMbBUURF5d2MawnvrTXz3pr9x1nf2ee319ln733XugBQ/IIEwnRYAYA0oVgU7uvBXBITy8T3AhgQAQ5YAcDhZmYER/hEAtT8vT2ZmahIxrP27i6AZLvbLL9QJnPW/3+RIjdDJAYACkXVNjx+JhflApRTs8UZMv8EyvSVKTKGMTIWoQmirCLjxK9s9qfmK7vJmJcm5KEaWc4ZvDSejLtQ3pol4aOMBKFcmCXgZ6N8B2W9VEmaAOX3KNPT+JxMADAUmV/M5yahbIkyRRQZ7onyAgAIlMQ5vHIOi/k5aJ4AeKZn5IoEiUliphHXmGnl6Mhm+vGzU/liMSuUw03hiHhMz/S0DI4wF4Cvb5ZFASVZbZloke2tHO3tWdbmaPm/2d8eflP9Pch6+1XxJuzPnkGMnlnfbOysL70WAPYkWpsds76VVQC0bQZA5eGsT+8gAPIFALTenPMehmxeksTiDCcLi+zsbHMBn2suK+g3+5+Cb8q/hjn3mcvu+1Y7phc/gSNJFTNlReWmp6ZLRMzMDA6Xz2T99xD/48A5ac3Jwyycn8AX8YXoVVHolAmEiWi7hTyBWJAuZAqEf9Xhfxg2JwcZfp1rFGh1XwB9hTlQuEkHyG89AEMjAyRuP3oCfetbEDEKyL68aK2Rr3OPMnr+5/ofC1yKbuFMQSJT5vYMj2RyJaIsGaPfhGzBAhKQB3SgCjSBLjACLGANHIAzcAPeIACEgEgQA5YDLkgCaUAEskE+2AAKQTHYAXaDanAA1IF60AROgjZwBlwEV8ANcAsMgEdACobBSzAB3oFpCILwEBWiQaqQFqQPmULWEBtaCHlDQVA4FAPFQ4mQEJJA+dAmqBgqg6qhQ1A99CN0GroIXYP6oAfQIDQG/QF9hBGYAtNhDdgAtoDZsDscCEfCy+BEeBWcBxfA2+FKuBY+DrfCF+Eb8AAshV/CkwhAyAgD0UZYCBvxREKQWCQBESFrkSKkAqlFmpAOpBu5jUiRceQDBoehYZgYFsYZ44dZjOFiVmHWYkow1ZhjmFZMF+Y2ZhAzgfmCpWLVsaZYJ6w/dgk2EZuNLcRWYI9gW7CXsQPYYew7HA7HwBniHHB+uBhcMm41rgS3D9eMu4Drww3hJvF4vCreFO+CD8Fz8GJ8Ib4Kfxx/Ht+PH8a/J5AJWgRrgg8hliAkbCRUEBoI5wj9hBHCNFGBqE90IoYQecRcYimxjthBvEkcJk6TFEmGJBdSJCmZtIFUSWoiXSY9Jr0hk8k6ZEdyGFlAXk+uJJ8gXyUPkj9QlCgmFE9KHEVC2U45SrlAeUB5Q6VSDahu1FiqmLqdWk+9RH1KfS9HkzOX85fjya2Tq5FrleuXeyVPlNeXd5dfLp8nXyF/Sv6m/LgCUcFAwVOBo7BWoUbhtMI9hUlFmqKVYohimmKJYoPiNcVRJbySgZK3Ek+pQOmw0iWlIRpC06V50ri0TbQ62mXaMB1HN6T705PpxfQf6L30CWUlZVvlKOUc5Rrls8pSBsIwYPgzUhmljJOMu4yP8zTmuc/jz9s2r2le/7wplfkqbip8lSKVZpUBlY+qTFVv1RTVnaptqk/UMGomamFq2Wr71S6rjc+nz3eez51fNP/k/IfqsLqJerj6avXD6j3qkxqaGr4aGRpVGpc0xjUZmm6ayZrlmuc0x7RoWgu1BFrlWue1XjCVme7MVGYls4s5oa2u7act0T6k3as9rWOos1hno06zzhNdki5bN0G3XLdTd0JPSy9YL1+vUe+hPlGfrZ+kv0e/W3/KwNAg2mCLQZvBqKGKob9hnmGj4WMjqpGr0SqjWqM7xjhjtnGK8T7jWyawiZ1JkkmNyU1T2NTeVGC6z7TPDGvmaCY0qzW7x6Kw3FlZrEbWoDnDPMh8o3mb+SsLPYtYi50W3RZfLO0sUy3rLB9ZKVkFWG206rD6w9rEmmtdY33HhmrjY7POpt3mta2pLd92v+19O5pdsN0Wu067z/YO9iL7JvsxBz2HeIe9DvfYdHYou4R91RHr6OG4zvGM4wcneyex00mn351ZzinODc6jCwwX8BfULRhy0XHhuBxykS5kLoxfeHCh1FXbleNa6/rMTdeN53bEbcTd2D3Z/bj7Kw9LD5FHi8eUp5PnGs8LXoiXr1eRV6+3kvdi72rvpz46Pok+jT4Tvna+q30v+GH9Av12+t3z1/Dn+tf7TwQ4BKwJ6AqkBEYEVgc+CzIJEgV1BMPBAcG7gh8v0l8kXNQWAkL8Q3aFPAk1DF0V+nMYLiw0rCbsebhVeH54dwQtYkVEQ8S7SI/I0shHi40WSxZ3RslHxUXVR01Fe0WXRUuXWCxZs+RGjFqMIKY9Fh8bFXskdnKp99LdS4fj7OIK4+4uM1yWs+zacrXlqcvPrpBfwVlxKh4bHx3fEP+JE8Kp5Uyu9F+5d+UE15O7h/uS58Yr543xXfhl/JEEl4SyhNFEl8RdiWNJrkkVSeMCT0G14HWyX/KB5KmUkJSjKTOp0anNaYS0+LTTQiVhirArXTM9J70vwzSjMEO6ymnV7lUTokDRkUwoc1lmu5iO/kz1SIwkmyWDWQuzarLeZ0dln8pRzBHm9OSa5G7LHcnzyft+NWY1d3Vnvnb+hvzBNe5rDq2F1q5c27lOd13BuuH1vuuPbSBtSNnwy0bLjWUb326K3tRRoFGwvmBos+/mxkK5QlHhvS3OWw5sxWwVbO3dZrOtatuXIl7R9WLL4oriTyXckuvfWX1X+d3M9oTtvaX2pft34HYId9zd6brzWJliWV7Z0K7gXa3lzPKi8re7V+y+VmFbcWAPaY9kj7QyqLK9Sq9qR9Wn6qTqgRqPmua96nu37Z3ax9vXv99tf9MBjQPFBz4eFBy8f8j3UGutQW3FYdzhrMPP66Lqur9nf19/RO1I8ZHPR4VHpcfCj3XVO9TXN6g3lDbCjZLGseNxx2/94PVDexOr6VAzo7n4BDghOfHix/gf754MPNl5in2q6Sf9n/a20FqKWqHW3NaJtqQ2aXtMe9/pgNOdHc4dLT+b/3z0jPaZmrPKZ0vPkc4VnJs5n3d+8kLGhfGLiReHOld0Prq05NKdrrCu3suBl69e8blyqdu9+/xVl6tnrjldO32dfb3thv2N1h67npZf7H5p6bXvbb3pcLP9luOtjr4Ffef6Xfsv3va6feWO/50bA4sG+u4uvnv/Xtw96X3e/dEHqQ9eP8x6OP1o/WPs46InCk8qnqo/rf3V+Ndmqb307KDXYM+ziGePhrhDL/+V+a9PwwXPqc8rRrRG6ketR8+M+YzderH0xfDLjJfT44W/Kf6295XRq59+d/u9Z2LJxPBr0euZP0reqL45+tb2bedk6OTTd2nvpqeK3qu+P/aB/aH7Y/THkensT/hPlZ+NP3d8CfzyeCZtZubf94Tz+wplbmRzdHJlYW0KZW5kb2JqCjUgMCBvYmoKWyAvSUNDQmFzZWQgOCAwIFIgXQplbmRvYmoKMiAwIG9iago8PCAvVHlwZSAvUGFnZXMgL01lZGlhQm94IFswIDAgNTk1LjI3NTYgODQxLjg4OThdIC9Db3VudCAxIC9LaWRzIFsgMSAwIFIgXQo+PgplbmRvYmoKOSAwIG9iago8PCAvVHlwZSAvQ2F0YWxvZyAvUGFnZXMgMiAwIFIgPj4KZW5kb2JqCjcgMCBvYmoKPDwgL1R5cGUgL0ZvbnQgL1N1YnR5cGUgL1RydWVUeXBlIC9CYXNlRm9udCAvQUFBQUFDK0NhbGlicmkgL0ZvbnREZXNjcmlwdG9yCjEwIDAgUiAvVG9Vbmljb2RlIDExIDAgUiAvRmlyc3RDaGFyIDMzIC9MYXN0Q2hhciA1MiAvV2lkdGhzIFsgNDU5IDQ3OSA3OTkKNTI1IDIyOSA0OTggMjI2IDMwNSAyMjkgNTI3IDM0OSA1MjUgNTI1IDQ1NSA1NzkgNTE3IDI1MiAzMzUgNDcxIDI1MiBdID4+CmVuZG9iagoxMSAwIG9iago8PCAvTGVuZ3RoIDM0OCAvRmlsdGVyIC9GbGF0ZURlY29kZSA+PgpzdHJlYW0KeAFdkstugzAQRfd8hZfpImKAPBoJIVWpIrHoQ6X9ALCHyFIxliEL/r53nDSVujiL4/F4PGOnx/q5dnZW6XsYdcOz6q0zgafxEjSrjs/WJVmujNXzzeKaHlqfpEhulmnmoXb9qMoyUSr9QMo0h0WtnszY8YOsvQXDwbqzWn0dm7jSXLz/5oHdrCipKmW4x3EvrX9tB1ZpTF3XBnE7L2tk/e34XDwr3AgZ2fVKejQ8+VZzaN2Zk5KoKk+nKmFn/oVyumZ0/W1rnlWlQLQtqqTMcygg2mWiBRRAjegGCoj2JLqFAkS16A4KoFvRPRQQ5XHzIxQgupPoAQqgB9EWCqC9aAcFKJSLaihANKqBAihLlKEA2on2UEC0kRYKzEJAg3KNAr0KiErdAr0KKLQRRa8CjtqLolcBLaAQpvk7NhmsfID7g+lLCHir+EviM8rzWMf3j+RHLwdEfgBcK62sCmVuZHN0cmVhbQplbmRvYmoKMTAgMCBvYmoKPDwgL1R5cGUgL0ZvbnREZXNjcmlwdG9yIC9Gb250TmFtZSAvQUFBQUFDK0NhbGlicmkgL0ZsYWdzIDQgL0ZvbnRCQm94IFstNTAzIC0zMTMgMTI0MCAxMDI2XQovSXRhbGljQW5nbGUgMCAvQXNjZW50IDk1MiAvRGVzY2VudCAtMjY5IC9DYXBIZWlnaHQgNjMyIC9TdGVtViAwIC9YSGVpZ2h0CjQ2NCAvQXZnV2lkdGggNTIxIC9NYXhXaWR0aCAxMzI4IC9Gb250RmlsZTIgMTIgMCBSID4+CmVuZG9iagoxMiAwIG9iago8PCAvTGVuZ3RoMSAyMTQyOCAvTGVuZ3RoIDExMDU2IC9GaWx0ZXIgL0ZsYXRlRGVjb2RlID4+CnN0cmVhbQp4AdV7d1iUV9r+eadXZgYY2gAzMAyIQ1FAigWGXlUQRkFFqbZg70YNUdNITNm0NckmZjeJ2TVlGDWiaSZr6q5JNnVT12xLJWU3yaYJ333eZw5istnvj9/1u679hrnnvk973nOeU993hg3rNvYyI+tnSjape2XnGia/ivpBvu5NG1xykKVWMKZ+aMmapSspnAEye5f2bV1C4aKPGYu9a1lvZw+F2ffg/GWIoLCUB05ZtnLDFgoXcQMtfau7Q+lFJxDOWNm5JXR99hbCrlWdK3vBeDVfhw/XmnW9oXSpFeY+kpP+04eERDvrYGo5k4JZWTa7hLHwfMUUOYana3Jzb9f/4sxiy/QvWaxOjn7wo+2/5+KVGwaWfPftmX79x7p8BPVMISczhnLaW8+8wZhh/3fffrtf/zGPOedlH9QrS5sVTyueZIXMqXgqxG+zQsUbzK94Hfwa+I8hfhX8CsIvg18Cvwj+A/hR8CPgh8EPMT9TKd5keUALoBxTPQjdAbwMqNl5sCQxI8pLLFLxOKsAeoANwHWAGnkfQdodsCgxl2LPYX2MVOcaUuwWYpcQFwrRL8QFQuwUYocQ24U4X4htQmwVYosQm4XYJMRGITYIsV6ItUKsEWK1EKuEWClEnxDnCbFCiOVCLBNiqRBLhOgVokeIbiG6hOgUokOIxUIsEqJdiIVCLBBivhBtQrQKMU+IuUL4hWgRolmIOUI0CdEoxGwhZgkxU4gGIeqFqBOiVogaIaqFqBKiUogKIcqFKBOiVAifECVCFAsxQ4jpQkwTYqoQRUIUClEgRL4QU4TIEyJXiBwhJgsxSYhsIbKEyBQiQwivEBOFSBdighBpQqQK4REiRQi3EMlCJAnhEsIpRKIQCULEC+EQIk6IWCFihIgWIkoIuxCRQkQIES6ETQirEBYhwoQwC2ESwiiEQQi9EDohtEJohFALoRJCKYRCCEkIFhLSqBAjQpwR4nshvhPiWyG+EeJrIf4lxFdCfCnEF0L8U4h/CPG5EJ8J8akQnwgxLMTHQnwkxIdCfCDE+0K8J8TfhfibEH8V4i9C/FmId4U4LcSfhHhHiLeFeEuIN4V4Q4jXhfijEK8J8aoQrwjxshAvCfGiEH8Q4gUhnhfiOSFOCfF7IX4nxLNCPCPE00I8JcSTQjwhxEkhfivE40I8JsQJIR4V4hEhHhbiISEeFOK4EMeEGBLiqBAPCHFEiMNCHBIiKMSgEAEh7hfiPiHuFeIeIQ4K8Rshfi3E3UIcEOIuIe4U4g4hfiXEL4W4XYj9QtwmxK1C/EKIW4S4WYibhNgnxM+FuFGIG4S4XojrhLhWiJ8JcY0QVwtxlRBXCrFXiCuEuFyIASEuE+JSIS4R4mIhLhJijxC7hdglxIVC9AtxgRA7hdghxHYhzhdimxBbhdgixGYhNgmxUYgNQqwXYp0Qa4VYI8RqIVYJsVKIPiHOE2KFEMuFWCbEUiGWCNErRI8Q3UJ0CdEpRIcQi4VYJES7EAuFWCDEfCHahGgVYp4Qc4XwC9EiRLMQc4RoFGK2ELOEaBCiXog6IWqFqBGiWogqISqFqBCi/BA/LQ8p9gQTi504MwcT7aBdFLowmDgVoX4KXUC0M5hoQuQOCm0nOp9oG9HWYEIpsmwJJpSDNhNtItpIaRsotJ5oHUWuDSaUocAaotVEqyjLSqI+ovOC8ZXIuYJoOdEyoqVES4LxFcjSS6Eeom6iLqJOog6ixUSLqFw7hRYSLSCaT9RG1Eo0j2gukZ+ohaiZaA5RE1Ej0WyiWUQziRqI6onqgo5atKGWqCboqEOomqgq6KhHqDLoaABVEJUTlVFaKZXzEZVQuWKiGUTTKec0oqlUvIiokKiAKJ9oChnLI8olKzlEk4kmkbFsoiwql0mUQeQlmkiUTjSBKI1MpxJ5yGYKkZsomUwnEbmonJMokSiBKJ7IQRQXjJsFZ8USxQTjZiMUTRRFkXaiSIqMIAonslGalchCkWFEZiITpRmJDER6StMRaYk0wdhGXF0djG0CqYiUFKmgkETEZJJGiUbkLNIZCn1P9B3Rt5T2DYW+JvoX0VdEXwZjWpxD0hfBmGbQPyn0D6LPiT6jtE8p9AnRMNHHlPYR0YcU+QHR+0TvEf2dsvyNQn+l0F8o9Geid4lOU9qfiN6hyLeJ3iJ6k+gNyvI6hf5I9Foweh6a8mowei7oFaKXKfIloheJ/kD0AmV5nug5ijxF9Hui3xE9S1meIXqaIp8iepLoCaKTRL+lnI9T6DGiE0SPUtojRA9T5ENEDxIdJzpGNEQ5j1LoAaIjRIeJDgWjStDoYDBqAWiQKEB0P9F9RPcS3UN0kOg3wSis+tKvycrdRAco7S6iO4nuIPoV0S+JbifaT3QbGbuVrPyC6BZKu5noJqJ9RD+nAjdS6Aai64muo7RrycrPiK6htKuJriK6kmgv0RWU83IKDRBdRnQp0SVEFwftnWj7RUF7F2gP0e6gfQlCu4guDNr9CPUH7dhspAuC9nzQTqIdVHw7lTufaFvQ3oMsW6n4FqLNRJuINhJtIFpPptdR8bVEa4L2blhZTcZWUc6VRH1E5xGtIFpO5ZYRLaWaLaHivUQ9lLObqIuok6iDaDHRImp0O9VsIdECavR8Mt1GF2olmkfVnUsX8pOVFqJmojlETcFIHxrWGIzkbp0djOQTdlYwcjdoZjAyE9RAWeqJ6oKROEhItRSqIaqmyKpg5E6kVQYjLwFVBCMvAJUHI/tBZcHwKlApkY+ohKg4GI5zgTSDQtODtjaEphFNDdr4PCoiKgzaqhEqCNpaQflB23zQFErLI8oN2jIQmUM5JwdtvGGTgja+IGUTZVHxTLpCBpGXjE0kSidjE4jSiFKJPEEb91IKkZtsJpPNJDLmIitOokQql0AUT+QgiiOKDVrbYTMmaF0Eig5aF4OiiOxEkUQRROFUwEYFrBRpIQojMhOZKKeRchooUk+kI9ISaSinmnKqKFJJpCCSiJhv1NLl5BixdDvPWHqc30N/B3wLfIO4rxH3L+Ar4EvgC8T/E/gH0j5H+DPgU+ATYBjxHwMfIe1DhD8A3gfeA/4ettT5t7Blzr8CfwH+DLyLuNPgPwHvAG8j/Bb4TeAN4HXgj+bznK+ZJztfBb9i7nO+bE51vgS8CP0Hs9f5AvA88BzSTyHu9+aVzt9BPwv9DPTT5hXOp8zLnU+alzmfMC91nkTZ38Le48BjgG/0BD4fBR4BHjatdT5kWud80LTeedy0wXkMGAKOIv4B4AjSDiPtEOKCwCAQAO43bnXeZ9zmvNe43XmPcYfzoHGn8zfAr4G7gQPAXcCdxkznHeBfAb9EmdvB+43nOW+DvhX6F8At0DfD1k2wtQ+2fo64G4EbgOuB64BrgZ+h3DWwd7VhlvMqw2znlYalzr2GO51XGA44L1J6nHuUhc7dUqFzl7/ff+HBfv8F/h3+nQd3+I07JOMOx476HefvOLjjzR2+cI1hu3+b//yD2/xb/Zv9Ww5u9h9XXMyWKC7yTfdvOrjRr9oYuXHDRuUXG6WDG6WKjdKkjZKCbbRudG1Umjb41/nXH1znZ+sa1/WvC6xTTQusO71OwdZJhqHRE4fWORKrwL7t68zWqrX+1f41B1f7Vy1Z6V+BCi4vXOpfdnCpf0lhj7/3YI+/u7DL31nY4V9c2O5fdLDdv7Bwvn/Bwfn+tsJW/zzkn1vY4vcfbPE3Fzb55xxs8s8unOWfhfiZhfX+hoP1/rrCGn/twRp/dWGVvxKNZ/HWeFe80sorMCseNWEOqWySw+c47fjMoWKOgOOEQxluiXPGKdItsVL57FhpdewFsVfFKi0xz8cofDHpGVWW6Oej/xT9abQqwhednlXFoqxRriilnbctamYLb9uhqJIK4slT5LY6o9ypVRa7ZLE77YrKT+3SxUwpuSSJSVaQUocyhyW7s0r5MKLwZRmTpKtZi7d+SMfm1Ad0jQsC0qUBTzP/9DXND2guDTD//AWtg5J0ZdugpChvCUTWN82n8EV797KEsvpAQnNrULl/f0JZW32gn2ufT9ajXDNkafMuWr9xvbfVN4PZTts+syntj1qftyosFsliGbUofBZU3hLmDFPwj9EwpS9sckGVxew0K/jHqFkZ5TMjhrsyzdTYUmUxOo0Kf4lxtlHhM5aUV/mMmZOqftTOQ7yddGXvhkXrvZAbvPIboTZpIw/ihRS8129AmP+BEGY85adflA35Fq/HSzZD5n+6yP+BFOn/QB3/y6s4yDBFWktHFXvwXeZuYBdwIdAPXADsBHYA24HzgW3AVmALsBnYBGwENgDrgbXAGmA1sApYCfQB5wErgOXAMmApsAToBXqAbqAL6AQ6gMXAIqAdWAgsAOYDbUArMA+YC/iBFqAZmAM0AY3AbGAWMBNoAOqBOqAWqAGqgSqgEqgAyoEyoBTwASVAMTADmA5MA6YCRUAhUADkA1OAPCAXyAEmA5OAbCALyAQyAC8wEUgHJgBpQCrgAVIAN5AMJAEuwAkkAglAPOAA4oBYIAaIBqIAOxAJRADhgA2wAhYgDDADJsAIGAA9oAO0gAZQA6rSUXwqAQUgAYz1SIiTRoAzwPfAd8C3wDfA18C/gK+AL4EvgH8C/wA+Bz4DPgU+AYaBj4GPgA+BD4D3gfeAvwN/A/4K/AX4M/AucBr4E/AO8DbwFvAm8AbwOvBH4DXgVeAV4GXgJeBF4A/AC8DzwHPAKeD3wO+AZ4FngKeBp4AngSeAk8BvgceBx4ATwKPAI8DDwEPAg8Bx4BgwBBwFHgCOAIeBQ0AQGAQCwP3AfcC9wD3AQeA3wK+Bu4EDwF3AncAdwK+AXwK3A/uB24BbgV8AtwA3AzcB+4CfAzcCNwDXA9cB1wI/A64BrgauAq4E9gJXAJcDA8BlwKXAJcDFwEWsp7Rf2gO1G9gFXAj0AxcAO4EdwHbgfGAbsBXYAmwGNgEbgQ3AemAdsBZYA6wGVgErgT7gPGAFsBxYBiwFlgC9QA/QDXQBnUAHsBhYBLQDC4EFwHygDWgF5gFzAT/QAjQDc4BGYDYwC2gA6oE6oBaoAaqBKqASqADKWc9/+TL93169tv/2Cv6X14/xY9nYwYxXNmbxIvzwSXsrYyPXnvMLqEa2gq1n/fi7mO1l17JH2Zusi+2G2sf2s7vYr1mAPcaeYa+dU+r/MTCyVb2SmZRHmYZFMDb67ejwyF3AkDpsXMy1CEWoXGdjRq2jn/wg7pORa0etI0OacGaQy5oVL8LaP6Uzo99iy9Uw82g+DysugbbIV/pce+vI/SMHzmlAI2ti89kCtpC141donWh/D1vGlsMz57E+tpKtkkOrkLYUeglCi5ELy4usz+Zazdaw1Wwd28A2sk34WwO9PhTiaWvl8Ea2GX9b2Fa2jZ3PtrMdoc/Ncsx2pGyTY7cgZSe7AD1zIdslK8EUs5vtYReh1y5hl7LL0GM/HbpsLNcAu5xdgX6+kl3FfkrvPSflanY1u4b9DOPhOnY9u4H9HOPiZnbLD2JvlONvYrey2zBmeInrEXObrG5gN7KH2JPsCLuP3c8ekH3ZDd+SR4RflsieXgMfbEebd4+rMXlz85i3dsIbvN0DoXZvgf92jSuxKeRH7r3dyMm9MxDqB25lRyhGeOJqtIz02XZyH/E2XHVOO0WJ/y2Wt5j76Rb4S3iG++wGxN30o9jxOcbrG9gvMANvxyf3Kle/hCZ1m6zHx986lne/nPYrdge7E31xgHElmGLuQtwBdjfm9m/YQXYP/s7q8YpS72P3yj0XYIMsyA6xw+jJB9hRNiTH/6e0+7F2/LDMoZCt4JiVY+w4exAj5BF2AivN4/gTMQ8j7tFQ7Ek5F4UfZ79lJ+VcPPVxjK2nsEI9y37Hfs+eZ08g9Jz8+TRCL7AX2UvsNckM9Qf2AT7PsBfUf2VhrBS3/8fRG7ewRfj7//hSx+HXrftHvx7dPPq1soYtkVpwgLwHvXSYXYEnE6vOXlpyMoPqzyySHR79SrkQPOHMG+plI78c/dQ3/+KLNqxft3bN6lUr+85bsXzZ0iW9PV2LF7UvXDC/rdXf0jynqXH2rJkN9XW1NdVVlRXlZaW+kuIZ06dNLSosyJ+SnZWZMSHVk+JOdsZE2qwWs9Gg12k1apUS5/OMSndVhyuQ2hFQpbprajJ52N2JiM5xER0BF6Kqzs0TcPFynUg6J6cPOZf8IKePcvrGckpW13Q2PTPDVel2BU5VuF1D0vymVui9Fe42V2BY1jNlrUqVA2YEkpJQwlUZs6zCFZA6XJWBqk3LBio7KjIzpEGjodxd3mvIzGCDBiOkESowwb1mUJpQLMlCMaFy6qCC6cz8sgGlp7KzJ9DY1FpZ4UhKapPjWLlsK6ApD2hlW67lAdSZXe4azDgxcMWQlXV1eE097p7Oha0BZScKDSgrBwYuCdi8gXR3RSB9219j4MDeQIa7ojLgdaNi9XPGLiAF1B6r2zXwJUPl3cMfo9bjYjpDMRqP9UvGE3kTx9wUkDqFZqgbaoj2JSXxulw+5GNdCAT6m1op7GJdjiDzZXvbAooOnnJCpNj9PKVfpIwV73DDs5Xuyo7Qe9OymEB/lyszAz0rvz0BlQfproAytaOrexnnzt4BdwVaCF+yltaArwLC1xlyZuXgpGzk7+xAI5ZzNzS1BrLdawKR7jLyNiJgxFO5vLlVLkKxlYHI8gDr6A6VCmRXoiyGSOUA7xheQW7L3dR6jOWOnh7MczkO5bI81sbrEYgqR6ekVg609iwJODscPRifS1ytjqSArw3ua3O39rbxXnJbA+mncTm80IFyKbTtB7lFZjQ7oPXoXK0Kh7KN9xYiXFX4cJdNR4I1oKEg79Gy6a5WycFENlwllIOrc+wgoPSU16AwGEXLaxxJGNzy6z9UyUENQDUCurE6qVAJ9dk60XV+smqUm1co3VXZWzGugucYRUCuYMjav6+ngvsi5AxUQce7s4a3ITNDAe1Csi6gQDvlKN6LMa4Aa3S1unvdbW6MIV9jK+8c7mu5f+ub3fzxqtzboVHSck6I0gspLcCS6ltaRYA/eQpUeeV+5d0qh6vl8Fiw5gfJtSIZ6w5rHBjoGWRKDx/KjkFJFuryy9sCs71t7kCX153E65mZMahjpqSWjnLM3iqsnO6qTrfL6qoa6Bwa7e8aGPT5BtZUdiybinkx4K7tGXA3t05H58oLwQ7HNl6XcFYv1beUwZSClQ26pUubBn3Spc3zW49ZGXNd2tIaVOBZc0dZ22AK0lqPufBfHnKsgsfySJ7FxQPc0hwEdHJ+xzEfY/1yqkqOkMPdQxKT4ygT4iTWPaSgOKucbzBVvpAP/zvRPaSiFJ+woEKcjuL6KfeEUG4dUqw85TjDRoKHf6gzvehJoM+g9ul8ep9JYVbApbxLgog5jrx6iR0ySWbJMQibaAGi8ZX0oN7nOCZboqjjUj9y8rh+WA9lUzCebZwhXJIa7geFWuCf33rIxGBf/kSOMv7CEhKzDGMMG02lq4ePv+1tywY62vjqwaIwVvGWApK7mAUU7mLUWGMKGNy9ZQGju4zHl/D4EorX8HituywgRUno7CEsugMdbizEmFOt+LqjDcPfyqe3wuMaGh1taU065RhuS8KcXwjMbw3ovdjo1J465Kvm6EB0daC/u5PXg/mxlvGlp7a7DZNdGESW2oAeFvQhC8hRJZfh8w2FujHWMCDl8v0IBPrbAm1eftHW5bxGLpc1wGrcUwOaVLKpTuUXym4bCHfn8JmLrAGD5xJOetSNNbdSjANBXAw7Cm+R1oSad7uR1N3hgtcxRpoxl2mzMPBxiJherPmq1F4ZBkcokfFmKT1GsyGgz4JBvLk2ZsEg3to2OIU3Xg5dEsqAa1sDRtQodZwrQwXgHSTV8rrgfQkqz7M+xs00DbE57i1Y+3ml5UtpkRwwe2o7sbtReSNi3IWiMGzpPDyK2zhJsVrechP8jiVhaPSAeytf4sQrM8PNdz8+/pjjGCYqaxv4YURggTczQ/fDWLMcPTCgM//7AuQvnXmMuRU0pJtva2A+4OTx5qrkG6y7blAxCznAkswDdW5sagoPBw46SkyfJFdPG8+FKjfKa5n7pzLBxFgmvk3Lxges0/iphIeQLocQwHsgsPTc4LKxYBWSq3AY9GQB8jsVHcPX/RWOQB9GJpLlLLxHXAMuq3uqm3+gqUrMBqAD/TQ2LTD8Mer4pOnvdrV2YbDDPVUdA1UDuIiruxPF+BgMXSmwynuOScwLCfMQDuFeCPQ3ujraXB04mkpNrUlJDsxGsGtJZ8Dn7uRbQSOuj3cjtiRQ5wAf4qwNF3UEtNiYlnT2upOw4SCuTfar3D+4Ok0b5hgYcA8E5IWgCplhPhXTrpYT3mu87s5efoTG9VydvXLZKlRX9g6vn6PSjbnci9pyv6Nd+O8v1sU/ugfcsNbe4YUnbAPhA66iASzB7dg9VKndczuwVfEdySV3dacDIfi1lofaYIgy6j08I00BXpuV3sF2redsDJ+LgdVeyqyTraJmc1oDjaKQPJ94rrXegCK6EImoaUCag5UN/ufrFJyn9tTCvT4MPQcv7QoosL1S98jla3lRLA3UYVQMMfImIk8xbJJitxH70EIHfPqT8UwVxhge1zPV7cytULF7VMnsHuW9rFr5CluoymP7lN+xdsVa5lGeZFPwyP8i5a/YPvA+TQ/bx9NVhWw+Z8WzwH0sCV9q3IjJLX9hDDbhWVIOOAn3Z2roMGZjZqZDuh7/oWll4UyLZ00m7EMq/PNfBDMgH389yh6V+qRHFfXKYpVV9bj6Qk2UNlV7j86v26+/2VBseNt4hSnKdLfpJVhlI+uVL+KJlhK2ithMNovdGLjI2/oQ9rM5LIpNlY4csVdU6DK1j0jluJALz6tRAancZ1EpzEfj4krcR6do9ipttUNS5uES7V58E1Ny5p0zz2WfeWc4vCh7WMp++9133rV+/pytKDv33ZffnYxv5iPjzEf7UHSK+2jfFKVmb5/SVsLL+/R9JT6Fdm8fjMSUeOOe8z6X7X3OCzPeSZPbJFuSTUZkmEKrjdS4k7MUU9JS83Nzc4oVU/JS3clhCjkuL7+gWJmbk6hQIifFFCt4WFK++P185ewzGsVOd8ncXHVinCXSrFEr4mPCM6d7rM0LPNOzErRKrUap1mknFJQl1/dVJr+htSXYoxLCdbrwhCh7gk175k112Lf/UId9V67q++46pWbawpIU5c8NOoVKoxlKjImdOC2pdq4lwqoyRlhtUTptuM00oWLhmYvt8dxGvN1Ots7MhDvdo9+qdqojWTJLZW9xvx9jKaPvHzZZpQb3UEikDo1+dtiIGKMQ+M3FZ744HuWx8k+z/GmSP30TJA9PzjBKM1PcqZ4vTEZTTHKC22CWolQmZrKaFPe7H3U/71a6TW5TeMKccL/az0pKSsKLirKz29tt0UU2SFuudTjHljt5kuRtp0fQ+KLe4UuESZPni77xNsfbiRGGxsx4YQWd54mK0sg9lqZMUoYp3cmpqfkFEnVTtNatTFJt1ElWj9PpidCrVp/5+wqlIcIdn+CxSDopqDLHpiW6JsaFqc6X/iQ9PiPKEaZSak16adrIM3qzXqUOc0SpgsYwnVKpsxj3njkfM+Se0W+lVnjWzjq5X4+WRM+Ovj9ayeDVQ1ZpJvizQ5YQm2X+CodEHv/+IbiOHVfYmGH0xFG7NNNgnSO7SMr2viv7YvKkdschORLt5Y0T48yWRwPNLrXqIpNiY5IjdXp7UnRsUqQuTmfSqtVak071hlDof9RS+RRmXzxLZ7fxeg6maEI1BMs1lBk1BMs1lNNRQ82QwuaLtiXEoDUJVjQlwWoySw0JLqQlDClygszmGZIMhzQak3tIMh6yN5l4P4cm5ctyS6zUnhxMykENz32kD9ntPP/hPrkAGjg2/3gr3bazbc3PTcpJVGnzsng0n4TKp3yb791yrT4iKZY3eWKcZJ84c/nKhvQj0+a1Z9x286ylVSnKaztvWTV9JEs4QfWbCcna6JKFW+fNXpEXduabCdXd6L3q0WFltzqJ1UoTaFaUYjJYMNRLuVfgDZnRcpnRb2C530qHFBk+b44vIlJqyPHZMAdyUnJMjhhe1mFFQYcVpRxWFHHEwFOO4/jim+HnPQ65708cig1xJPEDFhu+iTNlPSilsQJmkFJ9RpurQCrwGU1Sg43/TsbAVYGtwBY1fUgyHSl1qNObo4ak9EH1XFYyzKfVsI1PLa+33TpsxXr4Mh9D5Hh5zokA74SCrCEpLdhnMwxJqUf7ZKvp3OzRPtmumhsO9sEylkdu2hsyzZdH6hjVlNAYpFUxSxMKa+yhjuPLpD0yUaPsLt98e3vp6nnToo0qnUkXltu4tq6wvTwlZ87yVcvm5E5bfk2Ld97M6REalUKpMWqN2RXtU/Mb8+JymlesWtGcK5234MrunChXcozHieVRmzzBnVjQmFswa9rk3OKWtbObLpibaYl1RhhtMRHh8RH6eHdCwqQyT/6s6Tm5M5rXMoz+hejlEuWzLBdH2a94P/tcljJnWXaZ0qiPzjOhj/J4l+Xxjsqz8i7MG5L+5QtjaWkWJpkYH/VsKh8RyAp+n48MmVGAszxkpg4pdL5IW/QTLM+ap5h2Ik9ieVJeXlbpxCHJ4bO8kCwlJ6sSPsyqm/GWaaaKZaPT+CRpH8Y6mN2+dlE7+kzurpPeRe1F2TRncoomT1rU7vCZjdFSXvQTfdxesmwwqo8lY6mFzayED/uy6kwz3urjdmOy0WV8LuFRqpeb9rbLSwdfFlNTp0yh5VHurdwpfE6NbWfFKr552bXUc1G5OfkFyhJrvCPOGTbtmqbq9U2ZxRvuXr49avKsohmdtZNNOpNepXWUzV2S13lpS+odeyt6ypxtjaWrZ8SYTJjepvklVZ6qJaUNa+o8VXmNUxwJ7gSdNdYSmxDnTojI8O9sORmdWZJe1VxWgT7ahz56Rb2WTWQz2AO8j46UlEiGpPzQagSW5yNYnn88LHs9f0j62uewe8PRNV4X+sXLe9HLVysv7zfvkMLg0zO7IX9Kkko9aUhSP5Ba56iyNhRBDqpn8rnDV6voIswYmi1nPd/uOErlUnlBHBuoqJqXxfSYKU8PvnJFF52dGYo0MQWmjK3TNtqB5DUM/tbaouBeLGSv5HZf3e6trapK04U77JHx4RpthCsm1hWum1BfUzOh6/J5E+6z5831uYp9lWkV28uLWwtipfc2PrinypY6NX0VFjeVCmu9uhATS8Vn15m/pRe6rbN2BzZW7uqZET6xLGdkX/O86d3n83nQDh/vwzzw4vHih/I8mJidX5K/Ol8ZwT0X4YK/IiKSMviqlcHdmMGnRYY8IzKGpG+OVHjv8Cq8cP0R7tk81dDoaT4VwJ/wqSGHUQxMU0LFnZ+UlPFUv+pqleKESnpBJalU8dlvpdbFfNgRtiZMEab/MB59cObl9tBsWLtOTIOct73tcofwMezle6EvWZXxVN8m2UZq9lvojbCYD/tYmBW/M1SGxes/7IMtrFgn+dCX50C7fKDDGS4pMhFHs9CuGRlGhzqxi6bly4c6rXJfWuyZYGLVmiZfT222SWvUKBVKrTF/7lrf6gPrpk5fu797xfUdmXcpt26esbA4WaFQpCXVb5mbZY+za8Niw80RFpMxNiaieNvQtg3HLqysWH9za8Su67Iaegv4WduDb3AvVm9h09ml3PfBKCsOAacPw1/MERrdnOVRDSFvwmB5uDvg/eCkiThxveALt2Kr8BiG86vjUocn1bgarDX8XDWcUwLPeU/mfs7X/ZPe3JP8CGzLNwz3Ieek1OG+UF5+dvLmlJBnsNXieCvPeLs8++GrcXsvlgyxUsi+UykuVql1Gq09Md3hyXOFPaMz6tXhlmd0GLUxrgjdBVYrH4UXuGtW1rnLUkw6pdoSER2m1hv1MblNU7u0triIFNf3H+mMfLgadUq7KyUizqZtX3TJ3HSzxRThYLhDmDJyrfIy5dOsGHcJi6UoeaTawzOr+Xyu1mGgVbusEVJDdW7J0OjXfOCB5TMM+PQDPKlEOxvSZ7aESw2zHSrLJGWuVstHK9+U+W5qhsjM1Toc2txMFe8HXx7viFZ+iVaXFcVaJ3p8RrDHMkmrLKx7w9T8vt3eUaj8YHrNRFfZ64V1C153zearBxbxEnkNH36VlhFv7ineAdHYjPl2bMPqYD3lxdsrPnjPpMl2TXVv9Jns9ub3+7jx6coP+rj5wrLX+wrrXAte78Ml+BaM9byEFnPrk2OrDXoqKorWmtQ0DTbeqOjoROXY4oPRXYAFH3cp/JN3X1R0Uk6URHcwyM3nQ0RealpaGArRenRZhOVCd3xOe/+sgm5HeHRp/kfla+Zk5Z1319qV+7oyrEmTXZOzczzOlLyFFzakVzslq802MtLbPqk6O7p3weSa7OjmxU0fuNJj9Hs21fcWO5Qb3M6UedmztjRnJESFZyW6sxQGRdKMtmnFa/yTPb62vKTiwtzY2IaMGR2pnvaymdtaMvW6pJHPFy51FdZOaFviLKg5s2hqiUIXm5k+wV5anjCpmK9jF+HM3aTOxpk7iR3go+NoiXu2e7VbGcWnCxYksDx95HCEHJa7HmF5nMjx6O+oB3HXHM/stLfgZ9hyKbA86cA0G+3YYx4wOH0YG/j3i+LDsdZadQPm3KvD3tCWHdo55FVqMJZnOtJHuTDbnuRT7cdn9wh+a8n7Bx0jFevCXbGYQVqx/kdkTJvq5Ygdmyt7+Kke00srTZo6Mb0IwKqyDyf77dg389gheZ6YSvKl9MnSZF+4NHMylgt5OYGQF2rwh3y+yGG0f/KD+JllMjOF2mni7oH7wLIjwLIjTHyPjYvKzGTcBcwHCywq2aieUBtfZWuQXSHf10nZJ71enFzkFSjnNF+HuEewcBvH5+YLED9UjvNKmjTuvB9apW2h2zZ7pEYrSVFRyu26iOQ4hzvGohnZ80N3SS268NjkmNhku95sGTkurTIbcSekw+2bWS/9Y8QsnHh2p/z+RWmTwaxXYoHXm2KsI8dHPDY7X6fhUakYHrWzJhpbuKNbLd/Ryc7BYiE7Z+wOTowSBi8dNlirZH+ExgXdwfEoNHpce8+eDH7c82MdfrauVCv1C9i7G6VEuZ8d4VZ0YATfpVOt/NYgLYZ/rpkjVUWEagiWuw/8GV/4ZEYHgj/k3RzBuzUxMQoyMTHHYEC3GviGb+BGDfKuj/uDb4428vubxuK0kFmwbBYsm5UZZmVG8bQH8evXHGaVNMH6upQhSeMzl9YVV2UW1mY2xI4bLXzpDLnJW/Qy3ang4U3olgXn3nb5N/uOwXorjBzuq68rla2F9Z1rTgwnvkye62K+sWm040bWjyJCQ82ej0mYqIimU5pd/QKGF05hEbrIjIqsovWVfHuLTorQRmWUZxVtqBCDTxMeHx2VYNU2XFVb2FYxyZrZVF+dMm9TrXOsCxXuokUVKa3+M5eLAfjjGOUebKJKpd6o2+yfHZddOmFyxcSIGUsuawjN7v3o9Rw2JPe6hXqdd31JnjTx3/SsPEYRL49RcGgE8ENyopHfkxp5Fxv5PmfkPW7knW3ESDhK8zqRO9tnyKybGJtSK7qL73AS9rLx52NvqIccg5lyEWPfuDK8T/iW9b/0x7nutyv3k9/DdTFZtZOKt//Y0TfOnH9+Q9JZ91pm/sC95zgTTuzg+8V8nHvfgRcjWBp7RvZjfEm6NCFcSrdJqWYp1SSl6qRUrTRRKaUrpETuNDgKLG8WYHnxBMunXDkdTkvkh9vEbINkiOR3G5HcpZH8HB3J70UiuV8jj+Mn5bjrP2phM9egO2OHJCloqcNzD0Xo1gNubQ+5NZtOu/KK2U4vx6CFFzncZ6lT80Jj9xzjD2+hG2+FuLnATbd81FW+M3X9vetW37kqv2j9PevBBfc5ilfMrl1ekeQoWTG7ZkWFS/rbqmMX15ftPLwOXAfeXrurqyhv8a6Zdbs6i/IW7eLe2zdynfIVeI/fmQ1y7/E7s6R8/nCQryJgeazxsLzZQMiDDmvH175oO92Uybdn8tMRuj/7t3dltdbZP3lX9p9vylDyf7spG7cMiGH30zdlP1s0oaLUlzJuokfaHeHa9IaZTZldA/ymLFe+KatKq9hWXtxWECd9sOmh3dXW5Dz3SLG4F1N9gDmNR4VG/daJxen2hj33b6y8sGd6RHr55JGb8BV6z3aa4YoD8G4uu5j79vCaKVKqJeRSsOxJMLmWC+5zC3dtOPPhaMP44sz4sGNx8LjHp/fWpVrsrlo7P6Fgl+UzF9syDTI+Zx2DXjmjoe9sTsxXnnX8sOL3BOPXznOcplEcUGj0Ol10Qoo9dtKUqe5xnpKXRE/p1KIEc1JKgkmllJRdUYk2vV6vi8xqKDgTEEvh2bm6O78izaLUGQz6MAd8kjT6qWKl6l42lV0m+ySd2dyZvOmYYTKjtWB52IHl2Sozplwmd40p2pw57K5JMA9H10weklSDWvk+f/gUd0YurWI5p07y55E+mB7uQ95oX7R5uC+6RssLBPtQQj54x1lPiWVMJT/jt/3wnkhhH3/nJJ+j+WaiWKmzutKzoqt6fAk7LeFqnVm3Qxzu3uOPTsIt7xVUR6fER+rUerVqQUKyNUyv8dSvn6UIo5uiV/HoWaXSm7Sv0m3TiKF9sd6gV4fFwEc3jv4L/zpwGt/PpHMfDTI8rz3xABYejV6Jnj+FW8HH0LxDeh+CMSVxp+SleNyJc1V28fQsjpXV2VmVgPyVDiyHA/zFvwdipfxV7i3v7FvetW75/wDUW+g8CmVuZHN0cmVhbQplbmRvYmoKMTMgMCBvYmoKPDwgL1RpdGxlIChNaWNyb3NvZnQgV29yZCAtIFNhbXBsZSBmaWxlIGZvciBibGluayBBUEkgaW50ZWdyYXRpb24uZG9jeCkgL1Byb2R1Y2VyCihtYWNPUyBWZXJzaW9uIDEyLjUuMSBcKEJ1aWxkIDIxRzgzXCkgUXVhcnR6IFBERkNvbnRleHQpIC9DcmVhdG9yIChXb3JkKSAvQ3JlYXRpb25EYXRlCihEOjIwMjIxMTEwMTMyOTM4WjAwJzAwJykgL01vZERhdGUgKEQ6MjAyMjExMTAxMzI5MzhaMDAnMDAnKSA+PgplbmRvYmoKeHJlZgowIDE0CjAwMDAwMDAwMDAgNjU1MzUgZiAKMDAwMDAwMDM2OSAwMDAwMCBuIAowMDAwMDAzMzI3IDAwMDAwIG4gCjAwMDAwMDAwMjIgMDAwMDAgbiAKMDAwMDAwMDQ4MyAwMDAwMCBuIAowMDAwMDAzMjkyIDAwMDAwIG4gCjAwMDAwMDAwMDAgMDAwMDAgbiAKMDAwMDAwMzQ2OSAwMDAwMCBuIAowMDAwMDAwNTgwIDAwMDAwIG4gCjAwMDAwMDM0MjAgMDAwMDAgbiAKMDAwMDAwNDEyOCAwMDAwMCBuIAowMDAwMDAzNzA3IDAwMDAwIG4gCjAwMDAwMDQzNjQgMDAwMDAgbiAKMDAwMDAxNTUxMCAwMDAwMCBuIAp0cmFpbGVyCjw8IC9TaXplIDE0IC9Sb290IDkgMCBSIC9JbmZvIDEzIDAgUiAvSUQgWyA8NmFkMGE5OTdlMDk0OGIwYjg4YzFjMWU3ZGI5OTdhMWY+Cjw2YWQwYTk5N2UwOTQ4YjBiODhjMWMxZTdkYjk5N2ExZj4gXSA+PgpzdGFydHhyZWYKMTU3NTkKJSVFT0YK
              (4) Draft with UI setup:
                description: (4) Draft with UI setup
                value:
                  name: Offer.pdf
                  externalIdentifier: file_offer-2025-001
                  signaturePositions:
                  - signer: crm-4711
                    pageNumber: 0
                    positionX: 120
                    positionY: 700
                  contentType: application/pdf
[...]
